.islas-container {
    max-width: 960px;
    width: 960px;
}


.conceptos .content {
    margin-top: -1.3em;
}

.isla-background {
    background-size: 640px 423px;
    background-repeat: no-repeat !important;
    height: 432px;
    width: 25%;
    float: left;
    overflow: hidden;
    /*transition: all 700s;*/
}

.isla-background.not-selected {
    width: 106px !important;
    /*transition: all 700s;*/
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}

.isla-background.selected {
    width: 640px !important;
    /*transition: all 700s;*/
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}

.islas-container {
    height: 1em;
    font-size: 1.3em;
    font-family: "Museo 500 Regular";
    color: #ffffff;
}

.islas-container h4{
    height: 1em;
    font-size: 4.7em;
    font-family: "Futura";
    color: #ffffff;
}

.isla-background.selected .concepto-texto-container {
    width: 80%;
    opacity: 1;
    height: 100%;
    float: left;
}


.concepto-texto-container {
    height: 0;
    overflow: hidden;
    transition: opacity .7s ease-out;
    transition-delay: .6s;
    opacity: 0;
    width: 80%;
}

.concepto-titulo-container {
    width: 106px;
    height: 100%;
    float: right;
}

/*.concepto-titulo-container h4 {*/

    /*!* Safari *!*/
    /*-webkit-transform: rotate(-90deg);*/

    /*!* Firefox *!*/
    /*-moz-transform: rotate(-90deg);*/

    /*!* IE *!*/
    /*-ms-transform: rotate(-90deg);*/

    /*!* Opera *!*/
    /*-o-transform: rotate(-90deg);*/

    /*!* Internet Explorer *!*/
    /*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/

    /*margin-top: 352px;*/
    /*margin-left: 173px;*/
/*}*/

/*.isla-background.selected h4 {*/
    /*margin-left: 540px;*/
    /*margin-top: 175px;*/
/*}*/


/*.isla-background.not-selected h4 {*/
    /*margin-top: 336px;*/
    /*margin-left: 40px;*/
/*}*/

/*.descubrir.selected h4 {*/
    /*margin-top: 205px;*/
/*}*/

/*.disfrutar.selected h4 {*/
    /*margin-top: 210px;*/
/*}*/


.concepto-texto {
    margin: 2em;
    color: #ffffff;
}

.isla-crear-titulo {
    background-image: url(../images/concep-crear.png);
    background-size: contain;
}
.isla-descubrir-titulo {
    background-image: url(../images/concep-descubrir.png);
    background-size: contain;
}
.isla-disfrutar-titulo {
    background-image: url(../images/concep-disfrutar.png);
    background-size: contain;
}
.isla-sentir-titulo {
    background-image: url(../images/concep-sentir.png);
    background-size: contain;
}