.islas-container {
    max-width: 960px;
    width: 960px;
}
.conceptos .content {
    margin-top: -1.3em;
    z-index: 1;
}

.isla-background {
    background-size: 640px 423px;
    background-repeat: no-repeat !important;
    height: 432px;
    width: 25%;
    float: left;
    overflow: hidden;
    /*transition: all 700s;*/
}

.isla-background.not-selected {
    width: 106px !important;
    /*transition: all 700s;*/
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}

.isla-background.selected {
    width: 640px !important;
    /*transition: all 700s;*/
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}

.islas-container {
    height: 1em;
    font-size: 1.3em;
    font-family: "Museo 500 Regular";
    color: #ffffff;
}

.islas-container h4{
    height: 1em;
    font-size: 4.7em;
    font-family: "Futura";
    color: #ffffff;
}

.isla-background.selected .concepto-texto-container {
    width: 80%;
    opacity: 1;
    height: 100%;
    float: left;
}
.concepto-texto-container {
    height: 0;
    overflow: hidden;
    transition: opacity .7s ease-out;
    transition-delay: .6s;
    opacity: 0;
    width: 80%;
}

.concepto-titulo-container {
    width: 106px;
    height: 100%;
    float: right;
    background-position-y: -15px;
}

/*.concepto-titulo-container h4 {*/

    /*!* Safari *!*/
    /*-webkit-transform: rotate(-90deg);*/

    /*!* Firefox *!*/
    /*-moz-transform: rotate(-90deg);*/

    /*!* IE *!*/
    /*-ms-transform: rotate(-90deg);*/

    /*!* Opera *!*/
    /*-o-transform: rotate(-90deg);*/

    /*!* Internet Explorer *!*/
    /*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/

    /*margin-top: 352px;*/
    /*margin-left: 173px;*/
/*}*/

/*.isla-background.selected h4 {*/
    /*margin-left: 540px;*/
    /*margin-top: 175px;*/
/*}*/
/*.isla-background.not-selected h4 {*/
    /*margin-top: 336px;*/
    /*margin-left: 40px;*/
/*}*/

/*.descubrir.selected h4 {*/
    /*margin-top: 205px;*/
/*}*/

/*.disfrutar.selected h4 {*/
    /*margin-top: 210px;*/
/*}*/
.concepto-texto {
    margin: 2em;
    color: #ffffff;
}

.isla-crear-titulo {
    background-image: url(../images/concep-crear.png);
    background-size: contain;
}

.en-isla-crear-titulo {
    background-image: url(../images/en-concep-crear.png);
    background-size: contain;
}

.isla-descubrir-titulo {
    background-image: url(../images/concep-descubrir.png);
    background-size: contain;
}

.en-isla-descubrir-titulo {
    background-image: url(../images/en-concep-descubrir.png);
    background-size: contain;
}

.isla-disfrutar-titulo {
    background-image: url(../images/concep-disfrutar.png);
    background-size: contain;
}

.en-isla-disfrutar-titulo {
    background-image: url(../images/en-concep-disfrutar.png);
    background-size: contain;
}

.isla-sentir-titulo {
    background-image: url(../images/concep-sentir.png);
    background-size: contain;
}

.en-isla-sentir-titulo {
    background-image: url(../images/en-concep-sentir.png);
    background-size: contain;
}


/*!* Desde iPad *!*/
/*@media only screen*/
/*and (max-device-width : 1023px)  { !* STYLES GO HERE *!*/
/* Desde iPad portrait */
@media only screen
/*and (min-device-width : 768px)*/
and (max-device-width : 1024px)
and (orientation : portrait) { /* STYLES GO HERE */

    .concepto-titulo-container {
        height: auto;
        width: 100%;
        text-align: center;
    }

    .concepto-titulo{
        color: #ffffff;
        font-size: 3em;
    }

    .concepto-texto {
        margin: 0;
    }
    .concepto-texto-container {
        opacity: 1;
        height: inherit;
        width: 100%;
    }
}