#columna_cont{
    position: relative;
    margin-top: -11%;
}

div#arrow { 
    position: relative;
    margin-top: 10%;
}
#botonrojo2_fragancias h4{
    font-family: 'Futura';
    font-size: 19px;
    font-weight: 500;
    line-height: 26px;
    /* width: 574px; */
    text-align: center;
    margin: 8% 13% 8% 13%
  }

  #info h1 {
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    color: #D1BE87;
    font-size: 46px;
    margin: 0 0 -2% 9%;
  }

  #columna12_conta{
    position: relative;
    margin-top: 8%;
  }

  .primero_cuadrado_contacto {
    width: 570px;
    height: 170px;
    background-color: rgba(255, 255, 255, 0.77);
    border: 1px solid #e1e6e9;
    position: relative;
    margin-left: auto;
    z-index: 3;
    margin-top: -8%;
    margin-right: auto;
  }
.primero_cuadrado_contacto h2 {
    color: #D1BE87;
    font-size: 25px;
    text-align: center;
    animation-delay: 0.3s;
    font-family: 'Museo 500 Regular';
    font-weight: normal;

  }

  .primero_cuadrado_contacto p {
    text-align: center;
    margin-left: 9px;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    color:#000;
  }

.segundo_cuadrado_contacto p{
    font-family: 'Museo 500 Regular';
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.72);
}
 #formulariocontacto h1 {
    font-family: 'Museo 500 Regular';
    font-weight: bold;
    color: #D1BE87;
    font-size: 42px;
    width: 663px;
    text-align: left;
    margin-left: 10%;

  }

#mailEnviado h1 {
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    color: #D1BE87;
    font-size: 40px;
    width: 663px;
    text-align: left;
    margin-left: 10%;
}

#mailEnviado h3 {
    font-size: 23px;
    color: #D1BE87;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    margin-left: 10%;
    width: 100%;
}
  #formulariocontacto input {
    font-family: 'Futura';
    font-size: 18px;
    width: 600px;
    height: 40px;
    background-color: rgba(232, 222, 195, 0.62);
    border-color: #E8DEC3;
    border: 0px;
    padding: 0px 80px;
    margin-left: -45px;
  }

  #formulariocontacto .mensaje {
    width: 600px;
    height: 105px;
    background-color: rgba(232, 222, 195, 0.62);
    border-color: #E8DEC3;
    border: 0px;
    padding: 0px 80px;
    margin-left: -45px;
}

#formulariocontacto .submit{
      width: 229px;
    background: #DA504B;
    padding: 1px 16px;
    margin-left: 60%;
    color: #fff;
}

#fototachos{
    position: relative;
    z-index: -5;
    top: -111px;
}
#fototachos img{
    width: 100%;
}

#columna6conta{
    height: 100px;    text-align: right;
}
#fotocontacto{
height: 100px;
}
#columna6conta img{
    width: 99%; height: 500px;
}

#formulariocontacto{
    height: 100px;
    margin-left: 48%;
    margin-top: -10%;
}

#mailEnviado{
    height: 100px;
    margin-left: 48%;
}

#campos{
    position: relative;margin-top: -6%;
}

  #su2_cont h1 {
 font-family: 'Museo 500 Regular';
    font-weight: normal;
    font-size: 60px;
    text-align: center;
    color: #fff;
    margin-left: 14%;
    width: 800px;
    margin-top: -80%;
}
#su2_cont p {
    text-align: left;
    color: #fff;
    font-size: 21px;
    line-height: 28px;
        margin-left: 27%;
    width: 671px;
    }

#su2_cont img{
    width: 8%;
    position: relative;
    margin-left: 27%;
    margin-top: 8%;
    }

#susten_conta{
    position: relative;margin-top: 48%;
}

#su1 img{
    width: 100%;
}

#prefooter_cont{
 position: relative;
 margin-top: 10%;
}