


  #show-me {
width: 250px;top: 140px;
  }

#show-me h1{
  font-family:'Museo 500 Regular';font-weight:normal;font-size:28px;text-align: center;margin-right: 150px;
}

#show-me p{
  font-size: 20px;color:#fff;
}

#show-me ul{
  list-style:none;font-family:'Museo 500 Regular';color: #fff;font-size: 18px;line-height: 45px;margin-top: 40px;margin-left: -35px;
}

#show-me ul li{
 color: #fff;}


#show-me2{
  width: 250px;top: 140px;
}

#show-me2 h1{
font-family:'Museo 500 Regular';font-weight:normal;font-size:28px;text-align: center;margin-right: 190px;
}
#show-me2 p{
font-size: 20px;color:#fff;}


#show-me2 ul{

list-style:none;font-family:'Museo 500 Regular';color: #fff;font-size: 18px;line-height: 45px;margin-top: 40px;margin-left: -35px;

}

#show-me2 ul li{
  color: #fff;
}




#show-me3{
width: 250px;top: 140px;
}

#show-me3 h1{
font-family:'Museo 500 Regular';font-weight:normal;font-size:28px;text-align: center;margin-right: 190px;
}
#show-me3 p{
font-size: 20px;color:#fff;}


#show-me3 ul{

list-style:none;font-family:'Museo 500 Regular';color: #fff;font-size: 18px;line-height: 45px;margin-top: 40px;margin-left: -35px;
}

#show-me3 ul li{
  color: #fff;
}





#show-me4{
width: 250px;top: 140px;
}

#show-me4 h1{
font-family:'Museo 500 Regular';font-weight:normal;font-size:28px;text-align: center;margin-right: 190px;
}
#show-me4 p{
 font-size: 20px;color:#fff;}


#show-me4 ul{

list-style:none;font-family:'Museo 500 Regular';color: #fff;font-size: 18px;line-height: 45px;margin-top: 40px;margin-left: -35px;
}

#show-me4 ul li{
  color: #fff;
}




#show-me5{
width: 250px;top: 140px;
}

#show-me5 h1{
 font-family:'Museo 500 Regular';font-weight:normal;font-size:28px;text-align: center;margin-right: 190px;
}
#show-me5 p{
 font-size: 20px;color:#fff;}


#show-me5 ul{

list-style:none;font-family:'Museo 500 Regular'; color: #fff;font-size: 19px;line-height: 45px;margin-top: 40px;margin-left: -35px;
}

#show-me5 ul li{
  color: #fff;
}





#logo img{
  position: absolute;z-index: 44;
}


#logo ul{
  list-style:none;color: #fff;font-size: 20px;line-height: 40px;letter-spacing: 20px;
      display: inline-flex;position: absolute;z-index: 2;margin-left: 1020px;margin-top: 53px;
}


#bandera  img.es{
position: absolute;z-index: 30;margin-top: 60px; margin-left: 1260px;
}


#bandera img.en {
position: absolute;z-index: 30;margin-top: 60px; margin-left: 1290px;
}






  #contacto{
    
      background-color: #A59965;
      position: absolute;
      z-index: 4;
      margin-left: 500px;

      height: 40px;
      margin-top: 3970px;
      color: #fff;
      font-size: 22px;
      padding: 6px 40px;
     
}

#contacto span{
  color: #fff;
}

#contacto:hover{
  background-color: #fff;

}

#contacto:hover span{

  color: #A59965;
}

  #botonrojo_quienes{
    
      background-color: blue;
      background-image: url(../images/botonrojo.png);
      z-index: 99;
      margin-left: 565px;
       width: 50px;
      height: 104px;
      margin-top: 130px;
      color: #fff;
      font-size: 22px;
     padding: 45px 0px 0px 10px;
     
}

  #botonrojo_quienes h3{
    
 
    font-size: 25px;
    color: red;
    width: 325px;
    margin-left: -113px;
    margin-top: 75px;



     
}


  #botonrojo_quienes img{
    
width: 70px;margin-top: -26px;margin-left: -21px;
     
}

#botonrojo2_inno {
visibility: visible; animation-name: fadeInUpBig;
}

  #botonrojo2_inno h2{
    
 
    font-size: 38px;
    color: #A59965;
    width: 900px;
    margin-left: 113px;
    margin-top: 140px;
    font-family:'Museo 500 Regular';
    font-weight:normal;
 
    text-align: center;"



     
}


#frasco img{
  width: 80%;margin-top: 180px;margin-left: 115px;
}



.primero_cuadrado_inno h4{
  font-family:'Museo 500 Regular';font-weight:normal;
}


#columna{
  position: relative;margin-top: -312px;width: 630px;margin-left: 470px;
}



#columna p{
padding: 0px 72px 40px;padding-top: 30px; background-color:#D1BE87;font-family:'Futura';font-size: 15px;line-height: 25px;color:#000;padding: 35px;
}

#columna .font{
font-family:'Museo 500 Regular';font-weight:normal;font-size: 18px;color: #fff;
}


#telescopio img{
  margin-left: -91px;margin-top: 200px;
}



.cuadrado_inno_id2 p{
  font-family:'Futura';font-size: 15px;
}



#trescolumnas{
  margin-top: 1465px;
}


#trescolumnas .imagen{
position: absolute;margin-top: -1385px;margin-left: 185px;width: 980px;
}



#trescolumnas .columna1{
position: absolute;margin-top: -1290px;margin-left: 140px;
}

#trescolumnas .columna1 h2{
font-family:'Museo 500 Regular';font-weight:normal;color:red;font-size: 28px;line-height: 33px;width: 250px;text-align: center;
}

#trescolumnas .columna1 p{
text-align: center;width: 268px;line-height: 25px;font-family:'Futura';font-size: 15px;

}


#trescolumnas .columna2{
position: absolute;margin-top: -1290px;margin-left: 452px;
}

#trescolumnas .columna2 h2{
 font-family:'Museo 500 Regular';font-weight:normal;color:red;font-size: 28px;line-height: 33px;width: 269px;text-align: center;
}

#trescolumnas .columna2 p{
text-align: center;width: 268px;font-family:'Futura';font-size: 15px;

}




#trescolumnas .columna3{
position: absolute;margin-top: -1290px;margin-left: 770px;
}

#trescolumnas .columna3 h2{
font-family:'Museo 500 Regular';font-weight:normal;color:red;font-size: 28px;line-height: 33px;width: 250px;text-align: center;
}

#trescolumnas .columna3 p{
text-align: center;width: 268px;font-family:'Futura';font-size: 15px;

}




#tresfotos{
position: absolute;margin-top: -870px;margin-left: -105px;
}



#tresfotos .foto2 img{
margin-left: -5px;
}



#tresfotos .foto3 img{
  margin-left: -10px;
}

#trama33 img{
  margin-top: -1157px;margin-left: -91px;
}



#susten{
  margin-top: 200px;
}



#susten .su1{
visibility: visible; animation-name: zoomIn;
}


#su1 img{
width: 100%;margin-left: 2px;margin-top: -480px;position: relative;
}

#su2{
  margin-top: -465px;margin-left: 35px;
}

#su2 h1{
  font-family:'Museo 500 Regular';font-weight:normal;font-size:60px;text-align: center;color: #fff;margin-left: -110px;
}


#su2 p{
  text-align: left;color: #fff;font-size: 21px;line-height: 28px;
}


#trama3 img{
   width: 1350px;margin-left: -91px;margin-top: -189px;
}


#footer img{
width: 200px;margin-top: 50px;
}

#footer h3{

color: #A59965;font-size: 15px;margin-top: 11px;
}

#listaafuera {
  margin-top: -235px;
  margin-left:835px;
  z-index: 5;
    list-style:none;font-family:'Museo 500 Regular';color: #fff;font-size: 20px;line-height: 30px;
}

#listaafuera ul {
list-style:none;
}





#listaafuera ul li{
  color: #fff;
}



#listaadentro{
  margin-top: -245px;margin-left: 335px;z-index: 5;
}

#listaadentro h1{
font-family:'Museo 500 Regular';font-size:25px;color: #A59965;
}


#listaadentro ul{
  list-style:none;font-family:'Museo 500 Regular';color: #000;font-size: 20px;line-height: 40px;
}


#crumble_quienes h3{
    
 
    font-size: 28px;
    color: #A59965;
    font-family:'Museo 500 Regular';
    font-weight:normal;
 
    }








  #trama{
        
            width: 70%;
       /*     height: 720px; 
           
            background-image: url(trama2.jpg);
            background-repeat:repeat; */
             margin-top: 370px; 
             margin-left:120px;
            position: absolute;
}





  #menu1{
    
            width: 280px;
               height: 720px;
           background-image: url(../menu/menu11.png);
            background-repeat: no-repeat;
            margin-top: -750px;  
                 z-index: 33;
            margin-left: 0px;
            position: absolute;
       
     
}




  #menu2{
        
       width: 280px;
            height: 720px;
            margin-top: -750px; 
                z-index: 3;
             background-image: url(../menu/menu22.png);
              background-repeat: no-repeat;
            margin-left:270px;
            position: absolute;
}


  #menu3{
        
       width: 280px;
            height: 720px;
            margin-top: -750px; 
                background-image: url(../menu/menu33.png);
                 background-repeat: no-repeat;
            margin-left: 542px;
                   z-index: 3;
            position: absolute;
}

  #menu4{
        
            width: 280px;
            height: 720px;
            margin-top: -750px; 
             z-index: 3;
            margin-left:814px;
            background-image: url(../menu/menu44.png);
             background-repeat: no-repeat;
            position: absolute;
                  
}

  #menu5{
        
            width: 280px;
            height: 720px;
             margin-top: -750px; 
                z-index: 33;
            background-image: url(../menu/menu55.png);
             background-repeat: no-repeat;
            margin-left: 1090px;
            position: absolute;
                
}


 .cuerpo {
                transition:1s all;
            }
            .cuerpo img{
                width:100%;
                height:inherit;
                object-fit: cover;
                box-shadow: 0 0 20px #000;
                border:2px solid #333;
            }
            .opacity{
                -webkit-filter: opacity(100%);
            }

            .opacity:hover{
                -webkit-filter: opacity(0.8);}


#show-me {
        visibility: hidden;
        opacity: 0.0;
        position: relative;
        margin-left: 111px;
      }

      #show-me2 {
        visibility: hidden;
        opacity: 0.0;
    
        position: relative;
        margin-left:111px;
      }


    #show-me3 {
        visibility: hidden;
        opacity: 0.0;
    
        position: relative;
        margin-left:111px;
      }


    #show-me4 {
        visibility: hidden;
        opacity: 0.0;
    
        position: relative;
        margin-left:111px;
      }


    #show-me5 {
        visibility: hidden;
        opacity: 0.0;
    
        position: relative;
        margin-left:111px;
      }




      button  {
    border: none;
    background: #3a7999;
    color: #f2f2f2;
    padding: 10px;
    font-size: 18px;

    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease; 
  }
  
  button:hover {
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
  }
  


.titulo1{animation-delay:0.3s;
}

.titulo2{animation-delay:0.5s;
}

.titulo3{animation-delay:0.7s;
}


  .primero{

animation-delay:0.3s;

}
.segundo{

animation-delay:0.6s;

}


.tercero{

animation-delay:0.9s;

}

.cuarto{

animation-delay:0.11s;

}



  .primero_cuadrado_inno{
    width: 445px;
    margin-left: 165px;
    height: 70px;
background-color:rgba(245, 245, 245, 0.75) ;
border:1px solid #e1e6e9;
position: relative;
margin-top: -370px;
z-index: 3;

animation-delay:0.3s;

}


 .segundo_cuadrado_quienes{
    width: 445px;
    margin-left: 70px;
    height: 70px;
background-color: rgba(245, 245, 245, 0.38);
border:1px solid #e1e6e9;
position: relative;
margin-top: -800px;
z-index: 3;
position: absolute;

animation-delay:0.3s;

}




  .primero_cuadrado_inno h4{
font-size: 50px;
text-align: center;

animation-delay:0.3s;
color: rgb(154, 144, 144);

}


  .segundo_cuadrado_quienes h4{
font-size: 50px;
text-align: center;

animation-delay:0.3s;
color: #fff;

}





.segundo_cuadrado{

animation-delay:0.6s;

}




#wrapper {
    width:100%;
    overflow:hidden;
    white-space:nowrap;
}
#left, #right {
    display:inline-block;
    width: 20%;
}
#left {
    background:red;
}
#right {
    background:yellow;
}



  
  .cuadrado_inno{
    width: 900px;
    margin-top: -866px;
    margin-left: 135px;
    height: 150px;
background-color: rgba(245, 245, 245, 0.91);
border:1px solid #e1e6e9;
position: relative;
z-index: 3;
visibility: visible; animation-name: zoomIn;

animation-delay:0.3s;

}

  .cuadrado_inno h4{
font-size: 30px;
text-align: center;
color: #D1BE87;
animation-delay:0.3s;
font-family:'Museo 500 Regular';font-weight:normal;
}


  .cuadrado_inno p{
font-size: 30px;
text-align: center;
padding: 25px;
animation-delay:0.3s;
font-family:'Museo 500 Regular';font-weight:normal;
color: red;
}



  .cuadrado_inno_id{
    width: 400px;
    margin-top: 448px;
    margin-left: 520px;
    height: 70px;
background-color: rgba(245, 245, 245, 0.91);
border:1px solid #e1e6e9;
position: relative;
z-index: 3;


animation-delay:0.3s;

}



  .cuadrado_inno_id2{
    width: 1100px;
margin-left: 45px;
margin-top: 110px;
    height: 170px;
background-color: rgba(245, 245, 245, 0.91);

position: relative;
z-index: 3;


animation-delay:0.3s;

}



  .cuadrado_inno_id h4{
font-size: 67px;
margin-top: 1px;
text-align: center;
color: rgba(0, 0, 0, 0.72);
opacity: 0.6;

font-family:'Museo 500 Regular';font-weight:normal;
}


  .cuadrado_inno_id2 h4{
font-size: 25px;
padding-top: 20px;
text-align: center;
color:#D1BE87;
opacity: 0.6;

font-family:'Museo 500 Regular';font-weight:normal;
}



  .cuadrado_inno_id2 p{
padding: 0px 35px;
text-align: center;

}



  .cuadrado_inno_id3 h4{
font-size: 22px;

margin-top: 35px;
text-align: center;
color:red;
opacity: 0.6;

font-family:'Museo 500 Regular';font-weight:normal;
}



  .cuadrado_inno_id3{
margin-left: 45px;
width: 1100px;
margin-top: 55px;
border:1px solid #e1e6e9;
position: relative;
z-index: 3;
background-color:#D1BE87;

}


  .cuadrado_inno_id3 p{
font-size: 22px;
margin-left: 60px;
line-height: 30px;
margin-top: 35px;
text-align: center;

font-family:'Museo 500 Regular';font-weight:normal;
}



.cuadrado_inno_id4{
margin-left: 45px;
width: 1100px;
margin-top: 55px;
border:1px solid #D1BE87;
position: absolute;
z-index: 3;
height: 610px;
background-color:rgba(255, 255, 255, 0.26);

}

