#listaafuera ul li{
  color: #fff;
}



  #show-me {
width: 250px;top: 140px;
  }

#show-me h1{
  font-family:'Museo 500 Regular';font-weight:normal;font-size:28px;text-align: center;margin-right: 150px;
}

#show-me p{
  font-size: 20px;color:#fff;
}

#show-me ul{
  list-style:none;font-family:'Museo 500 Regular';color: #fff;font-size: 18px;line-height: 45px;margin-top: 40px;
}

#show-me ul li{
 color: #fff;}


#show-me2{
  width: 250px;top: 140px;
}

#show-me2 h1{
font-family:'Museo 500 Regular';font-weight:normal;font-size:28px;text-align: center;margin-right: 190px;
}
#show-me2 p{
font-size: 20px;color:#fff;}


#show-me2 ul{

list-style:none;font-family:'Museo 500 Regular';color: #fff;font-size: 18px;line-height: 45px;margin-top: 40px;

}

#show-me2 ul li{
  color: #fff;
}




#show-me3{
width: 250px;top: 140px;
}

#show-me3 h1{
font-family:'Museo 500 Regular';font-weight:normal;font-size:28px;text-align: center;margin-right: 190px;
}
#show-me3 p{
font-size: 20px;color:#fff;}


#show-me3 ul{

list-style:none;font-family:'Museo 500 Regular';color: #fff;font-size: 18px;line-height: 45px;margin-top: 40px;
}

#show-me3 ul li{
  color: #fff;
}





#show-me4{
width: 250px;top: 140px;
}

#show-me4 h1{
font-family:'Museo 500 Regular';font-weight:normal;font-size:28px;text-align: center;margin-right: 190px;
}
#show-me4 p{
 font-size: 20px;color:#fff;}


#show-me4 ul{

list-style:none;font-family:'Museo 500 Regular';color: #fff;font-size: 18px;line-height: 45px;margin-top: 40px;
}

#show-me4 ul li{
  color: #fff;
}




#show-me5{
width: 250px;top: 140px;
}

#show-me5 h1{
 font-family:'Museo 500 Regular';font-weight:normal;font-size:28px;text-align: center;margin-right: 190px;
}
#show-me5 p{
 font-size: 20px;color:#fff;}


#show-me5 ul{

list-style:none;font-family:'Museo 500 Regular'; color: #fff;font-size: 19px;line-height: 45px;margin-top: 40px;
}

#show-me5 ul li{
  color: #fff;
}



  #contacto{
    
      background-color: #A59965;
      position: absolute;
      z-index: 90;
      margin-left: 500px;

      height: 40px;
      margin-top: 5950px;
      color: #fff;
      font-size: 22px;
      padding: 6px 40px;
     
}

#contacto span{
  color: #fff;
}

#contacto:hover{
  background-color: #fff;

}

#contacto:hover span{

  color: #A59965;
}

  #botonrojo_fragancias{
    
      background-color: blue;
      background-image: url(../images/botonrojo.png);
      z-index: 99;
      margin-left: 565px;
       width: 50px;
      height: 104px;
      margin-top: 130px;
      color: #fff;
      font-size: 22px;
     padding: 45px 0px 0px 10px;
     
}

  #botonrojo_fragancias h3{
    
 
    font-size: 25px;
    color: red;
    width: 325px;
    margin-left: -113px;
    margin-top: 75px;



     
}



  #botonrojo2_fragancias h2{
    
 
    font-size: 38px;
    color: #A59965;
    width: 755px;
    margin-left: 185px;
    margin-top: 140px;
    font-family:'Museo 500 Regular';
    font-weight:normal;
 
    text-align: center;"



     
}


#crumble_fragancias h3{
    
 
    font-size: 25px;
    color: #A59965;
    font-family:'Museo 500 Regular';
    font-weight:normal;
 
    }








  #trama{
        
            width: 70%;
       /*     height: 720px; 
           
            background-image: url(trama2.jpg);
            background-repeat:repeat; */
             margin-top: 370px; 
             margin-left:120px;
            position: absolute;
}





  #menu1{
    
            width: 280px;
               height: 720px;
           background-image: url(../menu/menu11.png);
            background-repeat: no-repeat;
            margin-top: -750px;  
                 z-index: 33;
            margin-left: 0px;
            position: absolute;
       
     
}




  #menu2{
        
       width: 280px;
            height: 720px;
            margin-top: -750px; 
                z-index: 3;
             background-image: url(../menu/menu22.png);
              background-repeat: no-repeat;
            margin-left:270px;
            position: absolute;
}


  #menu3{
        
       width: 280px;
            height: 720px;
            margin-top: -750px; 
                background-image: url(../menu/menu33.png);
                 background-repeat: no-repeat;
            margin-left: 542px;
                   z-index: 3;
            position: absolute;
}

  #menu4{
        
            width: 280px;
            height: 720px;
            margin-top: -750px; 
             z-index: 3;
            margin-left:814px;
            background-image: url(../menu/menu44.png);
             background-repeat: no-repeat;
            position: absolute;
                  
}

  #menu5{
        
            width: 280px;
            height: 720px;
             margin-top: -750px; 
                z-index: 33;
            background-image: url(../menu/menu55.png);
             background-repeat: no-repeat;
            margin-left: 1090px;
            position: absolute;
                
}


 .cuerpo {
                transition:1s all;
            }
            .cuerpo img{
                width:100%;
                height:inherit;
                object-fit: cover;
                box-shadow: 0 0 20px #000;
                border:2px solid #333;
            }
            .opacity{
                -webkit-filter: opacity(100%);
            }

            .opacity:hover{
                -webkit-filter: opacity(0.8);}


#show-me {
        visibility: hidden;
        opacity: 0.0;
        position: relative;
        margin-left: 111px;
      }

      #show-me2 {
        visibility: hidden;
        opacity: 0.0;
    
        position: relative;
        margin-left:111px;
      }


    #show-me3 {
        visibility: hidden;
        opacity: 0.0;
    
        position: relative;
        margin-left:111px;
      }


    #show-me4 {
        visibility: hidden;
        opacity: 0.0;
    
        position: relative;
        margin-left:111px;
      }


    #show-me5 {
        visibility: hidden;
        opacity: 0.0;
    
        position: relative;
        margin-left:111px;
      }




      button  {
    border: none;
    background: #3a7999;
    color: #f2f2f2;
    padding: 10px;
    font-size: 18px;

    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease; 
  }
  
  button:hover {
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
  }
  
  


.titulo1{animation-delay:0.3s;
}

.titulo2{animation-delay:0.5s;
}

.titulo3{animation-delay:0.7s;
}


  .primero{

animation-delay:0.3s;

}
.segundo{

animation-delay:0.6s;

}


.tercero{

animation-delay:0.9s;

}

.cuarto{

animation-delay:0.11s;

}



  .primero_cuadrado_expertise{
    width: 460px;
    margin-left: 130px;
    height: 80px;
background-color: #e0dbdb;
border:1px solid #e1e6e9;
position: relative;
margin-top: -340px;
z-index: 3;

animation-delay:0.3s;

}


 .segundo_cuadrado_expertise{
    width: 500px;
    margin-left: 350px;
    height: 75px;
background-color: rgba(245, 245, 245, 0.77);
border:1px solid #e1e6e9;
position: relative;
margin-top: -470px;
z-index: 3;
position: absolute;

animation-delay:0.3s;

}




  .primero_cuadrado_expertise h4{
font-size: 70px;
text-align: center;

animation-delay:0.3s;
color: #fff;

}


  .segundo_cuadrado_expertise h4{
font-size: 50px;
text-align: center;

animation-delay:0.3s;
color: #fff;

}





.segundo_cuadrado{

animation-delay:0.6s;

}




#wrapper {
    width:100%;
    overflow:hidden;
    white-space:nowrap;
}
#left, #right {
    display:inline-block;
    width: 20%;
}





  /*Now the styles*/
* {
  margin: 0; 
  padding: 0;
}





  
/*=================================================================
  Portfolio
==================================================================*/

.project-wrapper {
    margin: -1px;
    padding: 0;
    margin-left: 1px;
    list-style: none;
    text-align: center;
}

.project-wrapper li {
    display: inline-block;
}

.portfolio-item {
    cursor: pointer;
    margin: 0 -3px -1% 0;
    overflow: hidden;
    position: relative;
    width: 32%;
}

figcaption.mask {
    background-color:rgba(255, 255, 255, 0.59);
    bottom: -125px;
    color: #fff;
    padding: 15px;
    position: absolute;
    width: 100%;
    text-align: left;
    
    -webkit-transition: all 0.4s ease 0s;
       -moz-transition: all 0.4s ease 0s;
        -ms-transition: all 0.4s ease 0s;
         -o-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
}

.portfolio-item:hover figcaption.mask {
    bottom: 0;
    top:1px;


}

figcaption.mask h3 {
    margin: 0;
       margin-top: -5px;
    color: #777;
    font-size: 35px;
    width: 375px;
    margin-left: -36px;

}

ul.external {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: -47px;
    
    -webkit-transition: all 0.4s ease 0s;
       -moz-transition: all 0.4s ease 0s;
        -ms-transition: all 0.4s ease 0s;
         -o-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
}

ul.external li {
    display: inline-block;
}

ul.external li a {
    background-color: rgba(255, 255, 255, 0.9);
    color: #818181;
    display: block;
    padding: 10px 18px 13px;
    
    -webkit-transition: all 0.5s ease 0s;
       -moz-transition: all 0.5s ease 0s;
        -ms-transition: all 0.5s ease 0s;
         -o-transition: all 0.5s ease 0s;
            transition: all 0.5s ease 0s;
}

ul.external li a:hover {
    background-color: #009EE3;
    color: #fff;
}

.portfolio-item:hover ul.external {
    top: 0;
}

.fancybox-skin {
    border-radius: 0;
}

.fancybox-title.fancybox-title-inside-wrap {
    padding: 15px;
}

.fancybox-title h3 {
    margin: 0 0 15px;
}

.fancybox-title p {
    color: #818181;
    font-size: 16px;
    line-height: 22px;
}

.fancybox-title-inside-wrap {
    padding-top: 0;
}