#titulo2_expertise {
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    margin-top: 0%;
    width: 800px;
  }

 #textoquienes h3 {
    font-size: 25px;
    color: #DA504B;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    text-align: center;
  }

  #crumble_expertise h3 {
    font-size: 28px;
    color: #A59965;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    margin-left: 0%;
  }

  #textoexpertise {
    font-size: 25px;
    color: #DA504B;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    text-align: center;
}

#botonrojo2_expertise h2 {
    font-size: 46px;
    color: #D1BE89;
    width: 938px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    text-align: center;
  }

  #botonrojo_fragancias img{
    width: 70px;margin-top: -26px;margin-left: -21px;
  }

  .primero_cuadrado_expertise {
      width: 532px;
    margin-left: 11%;
    height: 124px;
    position: relative;
    margin-top: -340px;
    z-index: 3;
    animation-delay: 0.3s;
  }

.primero_cuadrado_expertise img {
    width: 40em;
}

#columnas{
    margin-top: 2em;
}

#linearojaexpertise {
	background: #DA4655;
    height: 7px;
    width: 44%;
    position: relative;
    top: -253px;
    left: 756px;
    z-index: 1;
}

#linearojaexpertiseinf {
	background: #DA4655;
    height: 7px;
    width: 31.4%;
    position: relative;
    top: -105px;
    left: 160px;
    z-index: 1;
}

#columnaseis1{
    position: relative;margin-left: 40px;margin-top: -12%;
}
#columnaseis1 h1{
    font-family:'Museo 500 Regular';font-weight:normal;color:#D1BE87;font-size: 60px;width: 500px;
    padding: 0px 60px;
}

#textoe1{
    font-family: 'Futura';
    font-size: 19px;
    font-weight: 500;
    line-height: 34px;
}

#textoe11{
    font-family: 'Futura';
    font-size: 19px;
    font-weight: 500;
    line-height: 34px;
}

#textoe2{
	font-family:'Museo 500 Regular';
	font-weight:normal;
	color: #D1BE87;
	font-size: 20px;
	line-height: 35px;
}

#desarrollo-creacion p {
    margin-right: 1em;
}

#columnaseis2{
    position: relative;
    margin-top: -5em;
}

.expertise-container {
    background-image: url(../images/34.jpg);
    background-size: cover;
    height: 40em;
}

.expertise-container .titulo-imagen {
    margin: 19em 0 0 4em;
}

#textoe3{
    background-color: #D1BE87;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    font-size: 1.5em;
    padding: 1.3em;
    line-height: 42px;
    color: #fff;
    border-top: 7px solid #DA4655;
}

.lb-nav a.lb-next,
.lb-nav a.lb-prev {
    opacity: 1;
}


.lightboxOverlay {
    background-color: #D1BE87;
    opacity: 0.8;
}

.lb-image {
    border: 0px solid !important;
}

/* Forzando ancho completo en las fotos de la galería*/

/*.lb-outerContainer,*/
/*.lb-container,*/
/*.lb-image {*/
    /*width: 100% !important;*/
/*}*/



/**/
#textoe4{
    font-family: 'Futura';
    font-size: 19px;
    font-weight: 500;
    line-height: 34px;
}
#textoe5{
    font-family: 'Futura';
    font-size: 19px;
    font-weight: 500;
    line-height: 34px;
}

.segundo_cuadrado_expertise {
    width: 520px;
    margin-left: 30%;
    height: 75px;
    background-color: #fff;
    border: 1px solid #e1e6e9;
    position: relative;
    margin-top: 50%;
    z-index: 3;
    position: absolute;
    animation-delay: 0.3s;
  }

  .segundo_cuadrado_expertise h4 {
    font-size: 50px;
    text-align: center;
    animation-delay: 0.3s;
	color: #D1BE89;
    font-family:'Museo 500 Regular';font-weight:normal;
}
#tramaexpertise {
   background-image: url(../images/trama-infra.jpg);
    background-size: cover;
    margin-top: 8em;
    padding: 4em 0;
}

#textotrama1{
     position: relative;
    margin-top: 1em;
    margin-bottom: 3em;
}
#textotrama1 p{
    font-family: 'Futura';
    font-size: 19px;
    font-weight: 500;
    line-height: 34px;
    margin: 1em 0;
    color: #575756;
    text-align: center;
}

.galeria-container {
    margin: 0 0 5em 0;
}

.galeria-container img:hover {
    filter: sepia(1);
}

img.portfolio {
    width: 100%;
    /* margin-left: -4%; */
    height: 100%;
}

.galeria-container .col-md-4 {
    /* margin: 0; */
    padding: 0;
    height: 20em;
}

.c1-jpg {
    background-image: url(../images/c1.jpg);
    background-size: cover;
}
.c2-jpg {
    background-image: url(../images/c2.jpg);
    background-size: cover;
}
.c3-jpg {
    background-image: url(../images/c3.jpg);
    background-size: cover;
}
.c4-jpg {
    background-image: url(../images/c4.jpg);
    background-size: cover;
}
.c5-jpg {
    background-image: url(../images/c5.jpg);
    background-size: cover;
}
.c6-jpg {
    background-image: url(../images/c6.jpg);
    background-size: cover;
}

.c1-jpg:hover {
    background:
        /* top, transparent red, faked with gradient */
            linear-gradient(
                    rgba(162, 148, 107, 0.8),
                    rgba(162, 148, 107, 0.8)
            ),
            url(../images/c1.jpg);
    background-size: cover;
}
.c2-jpg:hover {
    background:
        /* top, transparent red, faked with gradient */
            linear-gradient(
                    rgba(162, 148, 107, 0.8),
                    rgba(162, 148, 107, 0.8)
            ),
            url(../images/c2.jpg);
    background-size: cover;
}
.c3-jpg:hover {
    background:
        /* top, transparent red, faked with gradient */
            linear-gradient(
                    rgba(162, 148, 107, 0.8),
                    rgba(162, 148, 107, 0.8)
            ),
            url(../images/c3.jpg);
    background-size: cover;
}
.c4-jpg:hover {
    background:
        /* top, transparent red, faked with gradient */
            linear-gradient(
                    rgba(162, 148, 107, 0.8),
                    rgba(162, 148, 107, 0.8)
            ),
            url(../images/c4.jpg);
    background-size: cover;
}
.c5-jpg:hover {
    background:
        /* top, transparent red, faked with gradient */
            linear-gradient(
                    rgba(162, 148, 107, 0.8),
                    rgba(162, 148, 107, 0.8)
            ),
            url(../images/c5.jpg);
    background-size: cover;
}
.c6-jpg:hover {
    background:
        /* top, transparent red, faked with gradient */
            linear-gradient(
                    rgba(162, 148, 107, 0.8),
                    rgba(162, 148, 107, 0.8)
            ),
            url(../images/c6.jpg);
    background-size: cover;
}

img.plus{
    width: 10%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto
}

#tramadebajoportfolio{
    position: relative;
    top: -190px;z-index: -1
}

#tramadebajoportfolio img{

width: 100%;
}

#desarrollo-creacion h1 {
    color: #D1BE87;
    font-size: 4em;
    width: 70%;
}


#titulocontrol{
    font-family:'Museo 500 Regular';
    font-weight:normal;
    font-size:70px;
    text-align: center;
    color: #D1BE89;
    margin-left: 0%;
    margin-top: -5%;
}

#columnacontrol4 ul{
	font-family: 'Futura';
	font-size:14pt;
	font-weight: 100;
	list-style-type: none;
}
#columnacontrol4 li{
	padding-top: 15px;
	padding-bottom: 15px;
}
#columnacontrol4 li img{
	height: 40px;
	margin-right: 10px;
}
#columnacontrol4 p{
     background-color:#D1BE89;
     font-family:'Museo 500 Regular';
     font-weight:normal;
     font-size: 20px;
     line-height: 35px;
     color:#fff;
     padding: 35px;
    border-top: 7px solid #da504b;
}

#columnacontrol4 {
    margin-top: -7em;
}

#columnacontrol4 h1{
    font-family:'Futura';
    font-weight: normal;
    font-size: 33px;
    text-align: left;
    color: #D1BE87;
}
#columnacontrol5 {
    position: relative;
    margin-left: 4%;
    margin-top: 4%;
	padding-bottom: 60px;
}

#columnacontrol5 .p0 {
    color: #D1BE87;
    font-family: 'Futura';
    font-size: 19px;
    font-weight: 500;
    line-height: 34px;

}
#columnacontrol5 .p1{
    font-family: 'Futura';
    font-size: 19px;
    font-weight: 500;
    line-height: 34px;
    
}

#columnacontrol5 .p2{
    font-family: 'Futura';
    font-size: 19px;
    font-weight: 500;
    line-height: 34px;
  
}

#columnacontrol5 .p3{
    font-family:'Museo 500 Regular';
    font-weight:normal;
    color:#A59965;
    font-size: 18px;
    font-size: 31px;
    line-height: 34px;
}

#mapa .imagen2{
width: 100%;
    margin: 2em 0 5em 0;
}

#mapa {
    background-image: url(../images/exp-10.jpg);
    background-size: cover;
    margin-bottom: 8em;
}

#comercio-exterior h1{
font-family:'Museo 500 Regular';
font-weight:normal;
font-size:70px;
text-align: center;
    padding-top: 1em;
color: #fff;
}
#comercio-exterior .textop1{
    font-family: 'Futura';
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 978px;
    text-align: center;
    color: #fff;
    line-height: 28px;
}
#comercio-exterior .textop2{
     font-family: 'Futura';
    margin-left: auto;
    margin-right: auto;
    width: 678px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 28px;
}
#fotofinal{
position: relative;
}

#contenedorfloresamarillas {
     visibility: visible; animation-name: zoomIn;
    background-image: url(../images/48.jpg);
    background-size: cover;
}


#susten6 h1{
    font-family:'Museo 500 Regular';
    font-weight:normal;
    font-size:60px;
    text-align: center;
    color: #fff;
    margin-left: 0;
}
#susten6 .textopsusten1 {
    text-align: left;
    color: #fff;
    font-size: 21px;
    line-height: 28px;
    width: 457px;
}

#susten6 img {
   width: 50px;
    position: relative;
    }