.titulo1_fragancia {
    font-weight: normal;
    font-size: 22px;
    color: #FFF;
    text-align: center;
    width: 540px;
    margin-top: -33%;
    margin-left: auto;
    margin-right: auto;

    }
.titulo2_fragancia {
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    margin-top: 0%;
    width: 900px;
}

#crumble_fragancia h3 {
    font-size: 28px;
    color: #A59965;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    margin-left:0%;
}

#botonrojo2_fragancia h2 {
    font-size: 46px;
    color: #D1BE89;
    width: 820px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    text-align: center;
    }
.expertise{
    margin-top: -765px; margin-left: 35px;
}

#hombregorra{
    position: relative; margin-top: 50px;
}

#box1 {
    width: 100%;position: relative; margin-top: -20%; z-index: -1;
}

.texto_spancinco {
    display: none; height: 100px; position: relative; margin-top: -12%; z-index: -1;
}

.fragan {
	height: 550px;
	background-image: url(../images/07.jpg);
	background-size: cover;
}

.fragan img {
	margin-top: 50px;
}
#expertise {
	background-image: url(../images/05.jpg);
	background-size: cover;
}
.bajada {
	background-color: rgba(255, 255, 255, 0.83);
	margin-top: -9%;
	z-index: 3;
	animation-delay: 0.3s;
}
.bajada h2{
	font-size: 36px;
	color: #D1BE89;
	margin-left: auto;
	margin-right: auto;
	margin-top: 22px;
	font-family: 'Museo 500 Regular';
	font-weight: normal;
	text-align: center;
	padding: 17px;
}
.bajada p{
	font-family: 'Futura';
	font-size: 19px;
	font-weight: 500;
	text-align: center;
	line-height: 30px;
	margin-bottom: 20px;
}
.boton {
	font-family: 'Futura';
	text-align: center;
	padding-bottom: 15px;
	border-bottom: solid 1px grey;
	cursor: pointer;
}
.boton.active {
		border-bottom: solid 1px #D1BE89;
}
.boton.active:after {
	content: '';
	background: white;
	border-bottom: solid 1px #D1BE89;
	border-right: solid 1px #D1BE89;
	transform: rotate(45deg);
	width: 5px;
	height: 5px;
	display: block;
	position: absolute;
	bottom: -3px;
	left: 50%;
	
}
.desc {
	text-align: center;
	padding: 25px 15px;
	position: absolute;
	color: #D1BE89;
	font-family: 'Futura';
}
.descripciones, .quinto-descripciones {
	margin-bottom: 130px;
}
.quintos-desc, .descripciones .desc{
	opacity: 0;
}	
.quintos-desc.active, .descripciones .active{
	opacity: 1;
}	

.quintos-descripciones img {
	position: relative;
	width: 36px;
	left: calc(50% - 18px);
	top: 320px;
	z-index: 99;
}
@media (min-width: 992px) {
  .col-md-1-5 { width: 20%; }
  .col-md-2-5 { width: 40%; }
  .col-md-3-5 { width: 60%; }
  .col-md-4-5 { width: 80%; }
  .col-md-5-5 { width: 100%; }
}

@media (min-width: 1200px) {
  .col-lg-1-5 { width: 20%; }
  .col-lg-2-5 { width: 40%; }
  .col-lg-3-5 { width: 60%; }
  .col-lg-4-5 { width: 80%; }
  .col-lg-5-5 { width: 100%; }
}

.quinto {
	height: 300px;
	cursor: pointer;
	color:white;
}

.quinto h2 {
	color: white;
}

.view-more {
	position:absolute;
	bottom: -20px;
	width: calc(100% - 35px);
	height: 60px;
	font-family: 'Futura';
	z-index: 99;
}

.quinto.active .view-more {
	border-bottom: solid 2px #DA504B;
	z-index: 99;
}

.quinto.active .view-more:after {
	content: '';
	background: #D1BE89;
	border-bottom: solid 2px #DA504B;
	border-right: solid 2px #DA504B;
	transform: rotate(45deg);
	width: 15px;
	height: 15px;
	display: block;
	position: absolute;
	bottom: -9px;
	left: calc(50% - 7px);
}
.quintos-desc {
	position: absolute;
}
.quintos-descripciones h3 {
	color: #DA504B;
	font-size: 24pt;
	margin-top: 80px;
}

.quintos-descripciones p {
	
	line-height: 30px;
	margin-bottom: 20px;
}

.quintos-descripciones {
	background-image: url(../images/trama6.jpg);
	background-size: cover;
	height: 400px;
	color: white;
	font-family: 'Futura';
	font-size: 19px;
}

