.titulo1_inno {
    font-weight: normal;
    font-size: 22px;
    color: #FFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5%;
    width: 540px;
}

h3.textoinno1  {
	font-size: 30px;
    color: #DA504B;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5%;
    text-align: center;
}

.titulo2_inno {
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    font-size: 53px;
    margin-right: auto;
    margin-left: auto;
    /* margin-top: 50px; */
    color: #fff;
}

#columna12inno {
    margin-top: -23%;
    text-align: center;
}

#botonrojo_inno h3 {
    font-size: 25px;
    color: red;
    width: 325px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3%;
}

#botonrojo2_inno h2 {
    font-size: 46px;
    color: #A59965;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3%;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    text-align: center;
}

#botonrojo_inno {
    text-align: center;
}

#botonrojo_inno {
    width: 70px;
    margin-top: -26px;
    margin-left: -21px;
}

.primero_cuadrado_inno {
    padding: 3em 0 0 5em;
    background-image: url(../images/inn-2.jpg);
    background-size: cover;
    height: 35em;
}

#linearojainno {
    background: #DA4655;
    height: 7px;
    position: relative;
    top: 180px;
    left: 41%;
    z-index: 1;
    width: 55.6%;
}

#aprendemos-innovar {
    padding: 72px 44px;
    background-color: #D1BE87;
    font-family: 'Futura';
    color: #575756;
    font-size: 19px;
    font-weight: 500;
    line-height: 34px;
    border-top: solid 7px #da504b;
    margin-top: -4em;
}

#aprendemos-innovar h2 {
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    font-size: 24px;
    color: #fff;
    margin-top: -3%;
}

#aprendemos-innovar p {
    line-height: 30px;
}

#telescopio {
    margin-top: 10em;
    background-image: url(../images/61.jpg);
    background-size: cover;
    height: 40em;
}
.cuadrado_inno {
    margin-top: -6em;
    height: 220px;
    background-color: rgba(255, 255, 255, 0.88);
    border: 1px solid #e1e6e9;
    z-index: 3;
    visibility: visible;
    animation-name: fadeInDown;
    animation-delay: 0.3s;
}

.cuadrado_inno p {
    font-size: 50px;
    text-align: center;
	margin-top: 4%;
    padding: 15px;
    animation-delay: 0.3s;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    color: #DA504B;
}

.cuadrado_inno h4 {
    font-size: 50px;
    text-align: center;
    color: #D1BE87;
    animation-delay: 0.3s;
    font-family: 'Museo 500 Regular';
    font-weight: normal;

}

.cuadrado_inno_id {
    margin-left: auto;
    margin-right: auto;
    height: 118px;
    z-index: 3;
    animation-delay: 0.3s;

}

.cuadrado_inno_id h4 {
    font-size: 91px;
    margin-top: 6px;
    text-align: center;
    color: rgba(0, 0, 0, 0.72);
    opacity: 0.6;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
}

.cuadrado_inno_id2 {
    /* width: 1100px; */
    /* margin-left: 45px; */
    height: 170px;
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
    z-index: 3;
    animation-delay: 0.3s;
}

.cuadrado_inno_id2 h4 {
    font-size: 32px;
    padding-top: 40px;
    text-align: center;
    color: #D1BE87;
    font-family: 'Museo 500 Regular';
}

.cuadrado_inno_id2 p {
    font-family: 'Futura';
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
    padding: 0px 51px;
}

.cuadrado_inno_id3 {
    margin-top: 7%;
    border: 1px solid #e1e6e9;
    z-index: 3;
    background-color: #D1BE87;
    height: 160px;
}

.cuadrado_inno_id3 h4 {
    font-size: 22px;
    margin-top: 35px;
    text-align: center;
    color: #d9504b;
    font-family: 'Museo 500 Regular';
}

.cuadrado_inno_id3 p {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    color: #fff;

}

.cuadrado_inno_id4 {
    margin-left: 45px;
    width: 1100px;
    margin-top: 55px;
    border: 1px solid #D1BE87;
    position: absolute;
    z-index: 3;
    height: 610px;
    background-color: rgba(255, 255, 255, 0.26);
}

#cuain1 {
    text-align: center;
    margin-top: 13em;
}

#cuain2 {
    text-align: center;
    margin-top: -8em;
}

#cuain3 {
    text-align: center;
}

#contenedortrescolumnas h2 {
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    font-size: 32px;
    text-align: center;
    color: #d9504b;
}

#contenedortrescolumnas .columna2 h2 {
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    font-size: 32px;
    text-align: center;
    color: #d9504b;
}

.columna12 h3 {
    color: #D1BE87;
    margin-top: 2.5em;
}

#contenedortrescolumnas p {
    font-family: 'Futura';
    font-size: 17px;
    font-weight: 500;
    line-height: 34px;
    text-align: center;
    margin: 0 auto;
}

#desarrollo {
    background: rgba(255, 255, 255, 0.83);
    border: 1px solid #D1BE87;
    position: relative;
    margin-top: 10em;
    height: 650px;
}

#contenedortrescolumnas .row .columna12 {
    text-align: center;
}

#portfolio_expertise {
    position: relative;
    top: -62px;
	left: -15px;
    z-index: -1;
}

#imagenportfolio1_inno {
    background-image: url(../images/inn-4.jpg);
    background-size: cover;
    height: 25em;
}

#imagenportfolio2_inno {
    background-image: url(../images/inn-5.jpg);
    background-size: cover;
    height: 25em;
}

#imagenportfolio3_inno {
    background-image: url(../images/inn-6.jpg);
    background-size: cover;
    height: 25em;
}
.trama33 {
    background-image: url(../images/trama-inn.jpg);
   background-size: cover;
    z-index: -2;
    height: 10em;
}

.contacinno {
    position: relative;
    margin-top: 10%;
}

.contacinno .container img {

    width: 100%;
}

#inn7 {
  background-image: url(../images/inn-7.jpg);
    background-size: cover;
    height: 40em;
}

#prefooter {
    position: relative;
}

@media (min-width: 80em){
    #desarrollo {
        max-width: 85em;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 120em){
    #desarrollo {
        max-width: 85em;
        margin-left: auto;
        margin-right: auto;
    }
}