#botonesarriba .nube,
#botonesarriba .cruz {
    cursor: pointer;
    height: 70px;
    width: 50px;
}

a.menu-desplegable-link:hover {
    color: #ffffff;
}

a.menu-desplegable-link:hover .nav-bar-title{
    color: #ffffff;
}



.linea-blanca-menu {
    background-color: #ffffff;
    height: 1px;
    width: 2em;
}

.desplegable-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
}

.desplegable-container img {
    width: 29px;
}

.perc20 {
    width: 20%;
    margin: 0;
    padding: 13em 1em 1em 1em;
    height: 100%;
}

.perc20 {
    padding-left: 30px;
    font-family: Futura;
    font-size: 1.1em;
    text-transform: uppercase;
}

.perc20 h1 {
    font-size: 1.5em;
    font-family: "Museo 500 Regular";
    color: #ffffff;
}

.perc20 a:hover {
    color: #000000;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.amyris-nav-container {
    background-image: url(../images/menu1-a-medida.jpg);
    background-size: cover;
    display: none;
    background-position: center;
}

.fragancias-nav-container {
    background-image: url(../images/menu2-a-medida.jpg);
    background-size: cover;
    display: none;
    background-position: center;
}

.expertise-nav-container {
    background-image: url(../images/menu3-a-medida.jpg);
    background-size: cover;
    display: none;
    background-position: center;
}

.sustentabilidad-nav-container {
    background-image: url(../images/menu4-a-medida.jpg);
    background-size: cover;
    display: none;
    background-position: center;
}

.innovaciones-nav-container {
    background-image: url(../images/menu5-a-medida.jpg);
    background-size: cover;
    display: none;
}

.amyris-nav-container:hover {
    background:
        /* top, transparent red, faked with gradient */
            linear-gradient(
                    rgba(162, 148, 107, 0.8),
                    rgba(162, 148, 107, 0.8)
            ),
            url(../images/menu1-a-medida.jpg);
    background-size: cover;
    background-position: center;
}

.fragancias-nav-container:hover {
    background:
        /* top, transparent red, faked with gradient */
            linear-gradient(
                    rgba(162, 148, 107, 0.8),
                    rgba(162, 148, 107, 0.8)
            ),
            url(../images/menu2-a-medida.jpg);
    background-size: cover;
    background-position: center;
}

.expertise-nav-container:hover {
    background:
        /* top, transparent red, faked with gradient */
            linear-gradient(
                    rgba(162, 148, 107, 0.8),
                    rgba(162, 148, 107, 0.8)
            ),
            url(../images/menu3-a-medida.jpg);
    background-size: cover;
    background-position: center;
}

.sustentabilidad-nav-container:hover {
    background:
        /* top, transparent red, faked with gradient */
            linear-gradient(
                    rgba(162, 148, 107, 0.8),
                    rgba(162, 148, 107, 0.8)
            ),
            url(../images/menu4-a-medida.jpg);
    background-size: cover;
    background-position: center;
}

.innovaciones-nav-container:hover {
    background:
        /* top, transparent red, faked with gradient */
            linear-gradient(
                    rgba(162, 148, 107, 0.8),
                    rgba(162, 148, 107, 0.8)
            ),
            url(../images/menu5-a-medida.jpg);
}

.link-container {
    margin: 1em 0em;
}

.boton-contacto {
    z-index: 11;
    width: 150px;
    height: 70px;
    position: fixed;
    left: 50%;
    margin-left: -75px;
    background-color: #D1BE87;
    bottom: 0;
    display: table;
}
.boton-contacto:hover {
    background-color: #D1BE89;
}

.boton-contacto > .link-container a {
    font-size: 1.6em;
}
.boton-contacto > .link-container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.boton-cruz {
    z-index: 11;
    position: fixed;
    left: 50%;
    margin-left: -25px;
    cursor: pointer;
    height: 70px;
    width: 50px;
    background-image: url(../images/41.png); 
    background-size: cover;
}