    #portada.portada-quienes-somos {
        background-image: url(../img/slider/16.jpg);
        background-size: cover;
        height: 40em;
    }
    .titulo_portada {
        font-weight: normal;
        font-size: 22px;
        color: #FFF;
        text-align: center;
        width: 540px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10em;
        font-family: Futura;
    }
  #crumble_quienes h3 {
      font-size: 28px;
    color: #A59965;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    margin-left: 10%;

  }

  #botonrojo_quienes {

    background-image: url(images/botonrojo.png);
    z-index: 99;
    margin-left:auto ;
    margin-right: auto;
    width: 50px;
    height: 104px;
    margin-top: 130px;
    color: #fff;
    font-size: 22px;
    padding: 45px 0px 0px 10px;
}

#textoquienes h3 {
    font-size: 25px;
    color: #DA504B;;
  
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    text-align: center;
    }

    #botonrojo2_quienes h2 {
    font-size: 46px;
    color: #D1BE89;
    width: 908px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    text-align: center;

}

#botonrojo_quienes {
    /* background-color: blue; */
  
    background-image: url(../images/botonrojo.png);
    z-index: 99;
    margin-left: auto;
    width: 50px;
    height: 104px;
    margin-top: 130px;
    color: #fff;
    font-size: 22px;
    padding: 45px 0px 0px 10px;
    } 
#botonrojo_quienes img{
    width: 70px;margin-top: -26px;margin-left: -21px;
}
#botonrojo2_quienes{
    visibility: visible; animation-name: fadeInUpBig;
}

    #quienes-somos {
        background-image: url(../images/sust-5.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        height: 35em;
        margin-top: -4em;
    }
      .primero_cuadrado_quienes {
        width: 445px;
    height: 70px;
    position: relative;
    z-index: 3;
    animation-delay: 0.3s;
          margin: 4em 1em 1em 4em;
  }

    .primero_cuadrado_quienes img {
        width: 100%;
    }

  .primero_cuadrado_quienes h4 {
    font-size: 50px;
    text-align: center;
    animation-delay: 0.3s;
    color: #fff;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
}

#columnaderecha{
position: relative;     margin-left: 50%;     margin-top: -6%;
}

#columnaderecha p{

font-family: 'Futura';    font-size: 19px;    font-weight: 500;    line-height: 34px;
    width: 574px;     padding: 2px 42px 1px 38px;
}

.destacado {
      font-family: 'Museo 500 Regular';     font-weight: normal;     color: #D1BE87;
    font-size: 26px;     line-height: 35px;     width: 545px;     padding: 2px 42px 1px 0px;
    margin-top: 1em;
}

#columnaizquierda{
  position: relative; margin-top: -21%; width: 570px;   margin-left: -75%;
}

#linearoja{
    background: #DA4655;height: 7px;
    width: 106%;
}

.cuadrodestacado{
      background-color: #D1BE87;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    color: #fff;
    padding: 46px 68px;
    border-top-color: #da504b;
    border-top-width: 7px;
    border-top-style: solid;
    margin-top: -5em;
}

.futura {
    font-family: Futura;
}

.px19 {
    font-size: 19px;
    line-height: 34px;
}

.quienes-somos-derecha {
    margin: 4em 1em 1em 2em;
}

#columnaizquierda p{
   font-family: 'Futura';     font-size: 19px;    font-weight: 500;    line-height: 34px;
    width: 574px;     padding: 2px 42px 1px 38px;
}

.valores-background {
    background-image: url(../images/14.jpg);
    height: 50em;
    background-size: cover;
    margin-top: 6em;
}

.tramado-background {
    background-image: url(../images/trama2.jpg);
    height: 20em;
    background-size: cover;

}

  .segundo_cuadrado_quienes {
     width: 445px;
    margin-left: auto;
      margin-right: auto;
    height: 100px;
      position: relative;
      z-index: 3;
    animation-delay: 0.3s;
  }

  .segundo_cuadrado_quienes img {
    width: 100%;
      margin: 4em auto 1em auto;

  }

  .segundo_cuadrado_quienes h4{
    font-family:'Museo 500 Regular';font-weight:normal;
}

#columna5{
      margin-top: -25em;
      background-color: rgba(209, 190, 137, 0.86);
    height: 500px;
    padding-top: 2em;
}

#columna5 h1{
    padding: 15px 0 0px 0;
    font-family:'Museo 500 Regular';
    font-weight:normal;
    font-size:28px;
    text-align: center;
    color: #FFF;
}
#columna5 p{
 font-family: 'Futura';
    color: #575756;
    font-size: 18px;
    line-height: 22px;
    padding: 0px 48px;
    text-align: center;"
}

.titulocolumna5destacado h1{
    font-family:'Museo 500 Regular';font-weight:normal;font-size:28px;text-align: center;color: #FFF;
}
.titulocolumna5destacadop p{
     font-family: 'Futura'; color: rgba(0, 0, 0, 0.59);
    font-size: 18px;
    line-height: 22px;
    padding: 0px 48px;
    text-align: center;
}

   #tramapordebajo img {
   width: 100%;     position: relative;    margin-top: -71%;    z-index: -2;
    }
    #porqueamir{
    margin-bottom: 0em;
        margin-top: 8em;
}

#porqueamir .por1 {
      font-family: 'Museo 500 Regular';
    font-weight: normal;
    font-size: 66px;
    text-align: center;
    color: #FFF;
    background: #D1BE89;
    width: 600px;
    margin-left: auto;
    height: 82px;
    margin-right: auto;
}

#porqueamir .porp{
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    font-size: 26px;
    line-height: 35px;
    color: #D1BE89;
    padding: 35px;
    text-align: center;
    width: 1016px;
    margin-left: auto;
    margin-right: auto;
}

#tituloarriba{
   margin-left: auto;     margin-right: auto;    text-align: center;    margin-top: 0%;  
}
#tituloarriba h1{
    font-family:'Museo 500 Regular';font-weight:normal;font-size:28px;text-align: center;color:#DA504B;;
}

#tituloarriba p{
    font-family: 'Futura';
    text-align: left;
    color: #818181;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    width: 711px;
    margin-left: auto;
    margin-right: auto;
}
#titulocostadoizquierdo{
 position: relative;
 margin-top: -24%;margin-left: -1%;
}

#titulocostadoizquierdo h1{
     font-family:'Museo 500 Regular';font-weight:normal;font-size:28px;text-align: right;color:#DA504B;
    margin: 0 10px 0 20px;
}

#titulocostadoizquierdo p{
    font-family: 'Futura';
    text-align: left;
    color: #818181;
    font-size: 18px;
    line-height: 32px;
    text-align: right;
    margin: 0 10px 0 20px;
}

#titulocostadoderecho{
    position: relative;
    margin-top: -24%;margin-left: 67%; 
}
#titulocostadoderecho h1{
      font-family:'Museo 500 Regular';font-weight:normal;font-size:28px;text-align: left;color:#DA504B;
    margin: 0 20px 0 10px;
}

#titulocostadoderecho p{
    font-family: 'Futura';
    text-align: left;
    color: #818181;
    font-size: 18px;
    line-height: 32px;
    text-align: left;
    margin: 0 20px 0 10px;
}

#tituloabajo{
     margin-left: auto;     margin-right: auto;    text-align: center;    margin-top: 0%;
}

#tituloabajo h1{
    font-family:'Museo 500 Regular';font-weight:normal;font-size:28px;text-align: center;color:#DA504B;;
}

#tituloabajo p{
     font-family: 'Futura';
    text-align: left;
    color: #818181;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    width: 711px;
    margin-left: auto;
    margin-right: auto;
}
#titulocostadoizquierdoabajo{
      position: relative;
    margin-top: -13%;margin-left: -1%;
}

#titulocostadoizquierdoabajo p{
    font-family: 'Futura';
    text-align: left;
    color: #818181;
    font-size: 18px;
    line-height: 32px;
    text-align: right;
    margin: 0 1em 0 2em;
}
#titulocostadoderechobajo{
       position: relative;
    margin-top: -13%;margin-left: 67%;
}
#titulocostadoderechobajo p{
    font-family: 'Futura';
    text-align: left;
    color: #818181;
    font-size: 18px;
    line-height: 32px;
    text-align: left;
    margin: 0 2em 0 1em;
}
#tituloabajoabajo{
     margin-left: auto;     margin-right: auto;    text-align: center;    margin-top: 0;
    margin-bottom: 5em;
}

#tituloabajoabajo p{
    font-family: 'Futura';
    text-align: left;
    color: #818181;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
  #sustenido{
visibility: visible; animation-name: zoomIn;
      background-image: url(../images/15.jpg);
      background-size: cover;
  }
#susten5 h1{
    font-family:'Museo 500 Regular';font-weight:normal;font-size:60px;text-align: center;color: #fff;margin-top: 60%;
}

#susten5 p{
    text-align: left;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    margin-left: 10%;
    width: 553px;
}

#prefooter{
    margin-top: 10% ;
}