@font-face {
    font-family: 'Museo 500 Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Museo 500 Regular'), url('../Museo500-Regular.woff') format('woff');
}

/* Reglas generales */

#logo {
    position: absolute;
    top: 4em;
    left: 6em;
    z-index: 40;
}

#lista_arriba ul{
    list-style:none;
    color: #fff;
    font-size: 20px;
    letter-spacing: 20px;
    display: inline-flex;
    position: absolute;
    z-index: 2;
    margin-top: 2%;
    right: 5%;
}


.contenedor {
    position: relative;
    height: 100px;
    background: #000033;
    width:500px;
    overflow: hidden;
}

#slideIzq,#slideDer, #fadeIzq, #fadeDer {
    position: absolute;
    height: 50px;
    background:#ffffcc;
}

#slideIzq,#fadeIzq{
    left: 0;
}
#slideDer,#fadeDer{
    right:0;
}



#menu1{
    background-image: url(../menu/menu11.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


div #menu1,#menu2,#menu3,#menu4,#menu5{
    height: 100%;
}

#sublista1 {

    margin-top: 140%;
    line-height: 20px;
    margin-left: 6%;
}

#sublista1 a{
    font-family: 'Museo 500 Regular';
    color: #fff;

    font-size: 18px;

}

#rayita{
    color: #fff;
    font-size: 20px;
    position: absolute;
    margin-top: 110%;
    margin-left: 4%;
}

#menu2{
    background-image: url(../menu/menu22.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#menu3{
    background-image: url(../menu/menu33.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


#menu4{
    background-image: url(../menu/menu44.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


#menu5{
    background-image: url(../menu/menu55.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#botonesarriba .nube{
    margin-left: 50%;
    position: absolute;
    z-index: 222;
    width: 4%;
    margin-top: 0%;

}

#botonesarriba .cruz{
    margin-left: 50%;
    position: absolute;
    z-index: 111;
    width: 4%;
}

#trama img{
    visibility: visible; animation-name: zoomIn;

}

#trama{
    width: 1000px;
    height: 850px;
    margin-top: 25%;
    margin-left: 13%;
    position: absolute;
}


#botonrojo{
    visibility: visible; animation-name: fadeInDownBig;

    background-image: url(../images/botonrojo.png);
    z-index: 99;
    margin-left: 50%;
    width: 50px;
    height: 104px;
    margin-top: 44%;
    color: #fff;
    font-size: 22px;
    padding: 45px 0px 0px 10px;
    opacity: 0;
}



#botonrojo img{
    width: 120%;margin-left: -9px;margin-top: -14px;

}


#botonrojo2{
    visibility: visible; animation-name: fadeInUpBig;
}

#botonrojo h3{
    font-size: 30px;
    color: red;
    width: 451px;
    margin-left: -538%;

}


#botonrojo2 h2{
    font-size: 50px;
    color: #A59965;
    width: 750px;
    margin-left: auto;
    margin-top: 115px;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    text-align: center;
    margin-right: auto;
}


.primero{
    animation-delay:0.3s;
}


.segundo{
    animation-delay:0.6s;
}


.tercero{
    animation-delay:0.9s;
}

.cuarto{
    animation-delay:1.1s;
}

.quinto{
    animation-delay:1.5s;
}

.isla-item {
    background-size: cover;
    height: 422px;
}
.sentir {
    background: url('/img/isla1.jpg') no-repeat;
}

.descubrir {
    background: url('/img/isla2.jpg') no-repeat;
}

.crear {
    background: url('/img/isla3.jpg') no-repeat;
}

.disfrutar {
    background: url('/img/isla4.jpg') no-repeat;
}

img.nube{
    position: absolute;
    width: 11%;
    margin-top: 110px;
    margin-left: -20px;
}


.mask h3 {
    font-family: 'Museo 500 Regular';
    font-weight: normal;

}

.mask h4 {
    font-family: 'Museo 500 Regular';
    font-weight: normal;

}


img.img-responsive {
    min-height: 100%;
}

figcaption.mask h4 {
    margin: 10px;
    margin-top: -5px;
    color: #777;
    font-size: 27px;
    width: 375px;
    margin-left: -36px;
    text-align: center;
}



/*=================================================================
  Portfolio
==================================================================*/

.project-wrapper {
    margin: 110px;
    padding: 0;
    margin-left: 126px;
    list-style: none;
    text-align: center;
}

.project-wrapper li {
    display: inline-block;
}

.portfolio-item {
    cursor: pointer;
    margin: 0px -3px 1% 0px;
    overflow: hidden;
    position: relative;
    width: 32%;
}

figcaption.mask {
    background-color:rgba(255, 255, 255, 0.85) ;
    bottom: -137px;
    color: #fff;
    padding: 40px;
    position: absolute;
    width: 100%;
    text-align: left;

    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.portfolio-item:hover figcaption.mask {
    bottom: 0;
    top:1px;
}

figcaption.mask h3 {
    margin: 0;
    margin-top: -5px;
    color: #777;
    font-size: 20px;
    width: 375px;
    margin-left: -36px;
    text-align: left;
    padding: 5px 66px 13px 83px;
}


#mascara5  h3 {
    margin: 0;
    margin-top: -5px;
    color: #777;
    font-size: 25px;
    width: 375px;
    margin-left: -57px;
    text-align: left;
    padding: 5px 66px 13px 83px;
}



#mascara4  h3 {
    margin: 0;
    margin-top: 22px;
    color: #777;
    font-size: 25px;
    width: 375px;
    margin-left: -18px;
    text-align: left;
    padding: 5px 66px 13px 83px;
}




ul.external {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: -47px;

    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

ul.external li {
    display: inline-block;
}

ul.external li a {
    background-color: rgba(255, 255, 255, 0.9);
    color: #818181;
    display: block;
    padding: 10px 18px 13px;

    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

ul.external li a:hover {
    background-color: #009EE3;
    color: #fff;
}

.portfolio-item:hover ul.external {
    top: 0;
}

.fancybox-skin {
    border-radius: 0;
}

.fancybox-title.fancybox-title-inside-wrap {
    padding: 15px;
}

.fancybox-title h3 {
    margin: 0 0 15px;
}

.fancybox-title p {
    color: #818181;
    font-size: 16px;
    line-height: 22px;
}

.fancybox-title-inside-wrap {
    padding-top: 0;
}


.primero_cuadrado {

    margin-top: auto;
    margin-left: auto;
    height: 195px;
    background-color: rgba(255, 255, 255, 0.69);
    border: 1px solid #e1e6e9;
    position: relative;
    z-index: 3;
    visibility: visible;
    animation-name: zoomIn;
    animation-delay: 0.3s;
}

.segundo_cuadrado {
    animation-delay: 0.6s;
}

.primero_cuadrado h4 {
    font-size: 25px;
    text-align: center;
    padding: 17px;
    animation-delay: 0.3s;
    color: #A2946B;
    line-height: 34px;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
}

#fotolaboratorio{
    visibility: visible; animation-name: zoomIn;
}

#fotolaboratorio img{
    width: 100%;margin-left: auto;margin-top: -5%;
}




.accordian2 .primero{
    visibility: visible;
    animation-name: slideInUp;
}


.accordian2 .primero .image_title2 a{
    font-family:'Museo 500 Regular';
    font-weight:normal;
}


.accordian2 .tercero{
    visibility: visible;
    animation-name: slideInUp;
}


.accordian2 .tercero .image_title2 a{
    font-family:'Museo 500 Regular';font-weight:normal;
}




/* acordeon de las islas de abajo */


.accordian2 {
    width: 720px;
    height: 425px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    margin: -120px;
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
   -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
   -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35); */
}

/*A small hack to prevent flickering on some browsers*/
.accordian2 ul {
    width: 2000px;
    /*This will give ample space to the last item to move
    instead of falling down/flickering during hovers.*/
}

.accordian2 li {
    position: relative;
    display: block;
    width: 315px;
    float: left;

    /*border-left: 1px solid #888;

    /*box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    */

    /*Transitions to give animation effect*/
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    /*If you hover on the images now you should be able to
    see the basic accordian*/
}

/*Reduce with of un-hovered elements este reduce los de al lado */
.accordian2 ul:hover li {
    width: 40px;
}

.accordian2 ul:hover li a{
    left: -80px;


}


/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style vuelve a al pasicon inicial*/
.accordian2 ul li:hover {width: 640px;}


.accordian2 li img {
    display: block;
}




/*Image title styles*/
.image_title2 {


    writing-mode: vertical-rl;

    word-wrap: break-word;
    /*background: rgba(0, 0, 0, 0.5);  */
    position: absolute;
    left: 0; bottom: 0;
    width: 640px;

}
.image_title2 a {


    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    font-size: 50px;
    position: relative;
    left: -580px;
    padding-top: 20px;
    display: block;
    color: #fff;
    text-decoration: none;


}


.caja1{

    /* background: rgba(0, 0, 0, 0.5);   */
    background: rgba(255, 255, 255, 0.59);
    position: absolute;
    left: 14px;
    top:0px;
    bottom: 0;
    width: 92px;
}

.caja2{

    /* background: rgba(0, 0, 0, 0.5);   */
    background: rgba(255, 255, 255, 0.59);
    position: absolute;
    left: 14px;
    top:0px;
    bottom: 0;
    width: 92px;
}


.caja1:hover{
    background: rgba(255, 255, 255, 0.59);
    width: 640px;
}

.caja2:hover{
    background: rgba(255, 255, 255, 0.59);
    width: 640px;

}



.boton_isla_abajo1{
    margin-left: -135%;
    z-index: 0;

}


.boton_isla_abajo2{
    margin-left: 777%;
    z-index: 0;

}




.caja1:hover .boton_isla_abajo1{

    margin-top: 342px;
    position: absolute;
    margin-left: 11px;
    z-index: 0;
    width: 9%;
}


.caja2:hover .boton_isla_abajo2{

    margin-top: 342px;
    position: absolute;
    margin-left: 11px;
    z-index: 0;
    width: 9%;
}

#contacto{

    background-color: #A59965;
    position: absolute;
    z-index: -1;
    margin-left: 46%;

    height: 40px;
    margin-top: 4270px;
    color: #fff;
    font-size: 22px;
    padding: 6px 40px;

}

#contacto span{
    color: #fff;
}

#contacto:hover{
    background-color: #fff;

}

#contacto:hover span{

    color: #A59965;
}


.ir-arriba {
    display: none;
    padding: 20px;
    background: #024959;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}

#titulo1 {
    visibility: visible;
    animation-name: slideInDown;
    font-family:'Museo 500 Regular';
    position: absolute;
    font-weight:normal;
    font-size:70px;
    width: 734px;
    margin-top: -11%;
    margin-left: 22%;
}

#titulo2 {
    visibility: visible;
    animation-name: slideInDown;
    font-family:'Museo 500 Regular';
    position: absolute;
    font-weight:normal;
    margin-top: -4%;
    margin-left: 23%;
    font-weight: normal;
    font-size: 100px;
    width: 734px;
}

#titulo3{
    visibility: visible;
    animation-name: slideInDown;
    font-family:'Museo 500 Regular';
    position: absolute;
    text-align: right;
    margin-left: 16%;
    margin-top: 9%;
    font-weight:normal;
    font-size:60px;
    width: 430px;
}

#titulo4{
    visibility: visible;
    animation-name: slideInDown;
    font-family:'Museo 500 Regular';
    position: absolute;
    margin-left: 53%;
    margin-top: 9%;
    font-weight:normal;
    font-size:60px;
    width: 430px;
    text-align: left;
}

#titulo5{
    visibility: visible;
    animation-name: slideInDown;
    font-family:'Museo 500 Regular';
    position: absolute;
    width: 790px;
    margin-left: 17%;
    margin-top: 10%;
    font-weight:normal;
    font-size: 35px;
    width: 834px;
}


#titulo6{
    visibility: visible;
    animation-name: slideInDown;
    font-family:'Museo 500 Regular';
    position: absolute;
    width: 790px;
    margin-left: 17%;
    margin-top: 10%;
    font-weight:normal;
    font-size: 35px;
    width: 834px;
}


.accordian {
    width: 100%;
    height: 425px;
    overflow: hidden;
    z-index: 2;
    /*Time for some styling*/
    margin: auto;
    margin-left: auto;
    margin-top: -2%;
    /* box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
   -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
   -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35); */
}

/*A small hack to prevent flickering on some browsers*/
/*.accordian ul {*/
    /*width: 2000px;*/
    /*!*This will give ample space to the last item to move*/
    /*instead of falling down/flickering during hovers.*!*/
/*}*/

.accordian li {
    position: relative;
    display: block;
    float: left;

    /*border-left: 1px solid #888;

    /*box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    */

    /*Transitions to give animation effect*/
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    /*If you hover on the images now you should be able to
    see the basic accordian*/
}

/*Reduce with of un-hovered elements este reduce los de al lado */
.accordian ul:hover li {
    width: 10%;
}





/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style vuelve a al pasicon inicial*/
.accordian ul li:hover {
    width: 70%;
}


.accordian li img {
    display: block;
}




/*Image title styles*/
.image_title {


    writing-mode: vertical-rl;

    word-wrap: break-word;
    /*background: rgba(0, 0, 0, 0.5); */
    position: absolute;
    left: 0; bottom: 0;
    width: 640px;

}
.titulo-isla {


    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    font-size: 70px;
    position: relative;
    left: -465px;
    padding-top: 20px;
    display: block;
    color: #fff;
    text-decoration: none;


}

.image_title .texto-isla {


    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    font-size: 22px;
    position: relative;
    width: 380px;
    display: block;
    color: #fff;
    text-decoration: none;
    font-family:'Museo 500 Regular';
    font-weight:normal;
    writing-mode: horizontal-tb;
    margin-right: 650px;



}

.accordian ul:hover .image_title .texto-isla {
    margin-right: 100px;
    top: -180px;
    line-height: 27px;
    transition: all 0.5s;



}



#service{

    height: 500px;
    margin-top: -4%;
    position: relative;
    z-index: -1;
}


#imagentrama{
    width: 100%;
    height: 950px;
}

#textorojo{
    position: relative;
    margin-top: -5%;
}

#textorojo2{
    position: relative;
    margin-top: -104%;
}

#textorojo3{
    position: relative; margin-top: -57%;
}


#islas{
    margin-top: 86%;
}

#islas1{
    position: relative;
    margin-top: -45%;
}


#lista1{
    margin-left: 35px;
    width: 403px;
    top:16px;
    border: 1px solid;
    border-color: #A59965;
    height: 383px;
}
#mascara1{
    padding: 40px;
}

#mascara1 p{
    font-size: 21px;
    text-align: center;
    color: #A2946B;
    line-height: 25px;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
}

#lista2{
    width: 403px;
    top:16px;
    border: 1px solid;
    border-color: #A59965;
    margin-left: -4px;
    height: 383px;
}

#mascara2{
    padding: 14px;
}

#mascara2 h4{
    padding: 10px;
    margin-left: -4%;
    margin-top: -7%;
}

#mascara2 p{
    font-size: 21px;
    text-align: center;
    color: #A2946B;
    line-height: 25px;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
}

#lista3{
    width: 268px;
    border: 1px solid;
    border-color: #A59965;
    margin-left: 34px;
    height: 383px;
}

#mascara3{
    padding: 0px;
}

#mascara3 h3{
    margin-left: -23%;
    text-align: center;
    margin-top: 10%;
    font-size: 25px;
}

#mascara3 p{
    font-size: 21px;
    text-align: center;
    color: #A2946B;
    line-height: 25px;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
}


#lista4{
    width: 268px ;
    border: 1px solid;
    border-color: #A59965;
    margin-left: -2px;
    height: 383px;
}

#mascara4{
    padding: 16px;
}

#mascara4 p{
    font-size: 21px;
    text-align: center;
    color: #A2946B;
    line-height: 25px;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
}


#lista5{
    width: 268px;
    border: 1px solid;
    border-color: #A59965;
    margin-left: -2px;
    height: 383px;
}

#mascara5{
    padding: 16px;
}

#mascara5 p{
    font-size: 21px;
    text-align: center;
    color: #A2946B;
    line-height: 25px;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
}


#cuadrado1{
    position: relative;
}

#fotolaboratorio{
    margin-top: 0%;visibility: visible;animation-name: zoomIn;
    position: relative; z-index: -1;
}


#sustentitulo h1 {
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    font-size: 60px;
    text-align: center;
    color: #A59965;
    margin-left: 10%;
}


#sustentitulo p {
    text-align: left;
    color: #5F5840;
    font-size: 21px;
    line-height: 32px;
    margin-left: 10%;
    width: 528px;
}



#ultimafoto img{
    width: 100%;
}
#conteinersustenta{
    margin-top: 10%;

}

#columnaultimafoto{
    margin-top: -52%;
    position: relative;
}

#sustentitulo img{
    width: 14%;
    margin-top: 7%;
    margin-left: 10%;
}

#footer img{
    width: 100%;
    height: 490px;
    margin-top: -10%;
}


#footer_quienes img{
    width: 100%;

}

#logofooter h3 {
    color: #A59965;
    font-size: 17px;
    margin-top: 8%;
    margin-left: 0%;

}
#listadentro h2 {
    font-family: 'Museo 500 Regular';
    font-size: 25px;
    color: #A59965;
    margin-top: 3%;
    margin-left: 2%;
}
#listadentro ul {
    list-style: none;
    font-family: 'Museo 500 Regular';
    color: #000;
    font-size: 20px;
    line-height: 40px;
    margin-top: 4%;
    margin-left: -5%;
}


#listaafuera ul {
    list-style: none;
    font-family: 'Museo 500 Regular';
    color: #fff !important;
    font-size: 20px;
    line-height: 30px;
    margin-top: 13%;
    margin-left: 23%;
    font-weight: bold;
}

#logofooter{
    background: #fff;
    height: 300px;
    position: relative;
    margin-top: -31%;
    margin-left: 10%;
}

#logofooterimagen{
    width: 40%;
}

#listadentro{
    position: relative;
    margin-top: -35%;
    margin-left: 42%;
}

#listaafuera{
    height: 300px;
    position: relative;
    margin-top: -30%;
    margin-left: 65%;
}


#listaafuera ul li{
    color: #fff;
}


#portada img{
    width: 100%;
}

.titulo1_quienes {
    font-weight:normal;font-size:22px;color:#FFF;text-align: center;width: 540px;margin-top: -33%;margin-left: auto;margin-right: auto;
}

.titulo2_quienes{
    font-family:'Museo 500 Regular';font-weight:normal;font-size:50px;margin-left:auto;margin-right: auto; color: #fff; margin-top: 0%;
}



@media (min-width: 1900px) {

    #botonesarriba .nube {
        margin-left: 50%;
        position: absolute;
        z-index: 222;
        width: 4%;
        margin-top: 0%;

    }


    #titulo1 {
        visibility: visible;
        animation-name: slideInDown;
        font-family: 'Museo 500 Regular';
        position: absolute;
        font-weight: normal;
        font-size: 105px;
        width: 734px;
        margin-top: -11%;
        margin-left: 30%;
        /* margin-right: auto; */
    }

    #titulo2 {
        visibility: visible;
        animation-name: slideInDown;
        font-family: 'Museo 500 Regular';
        position: absolute;
        font-weight: normal;
        margin-top: 0%;
        margin-left: 29%;
        font-weight: normal;
        font-size: 150px;
        width: 734px;
    }

    #titulo3 {
        visibility: visible;
        animation-name: slideInDown;
        font-family: 'Museo 500 Regular';
        position: absolute;
        text-align: right;
        margin-left: 25%;
        margin-top: 14%;
        font-weight: normal;
        font-size: 60px;
        width: 430px;
    }

    #titulo4 {
        visibility: visible;
        animation-name: slideInDown;
        font-family: 'Museo 500 Regular';
        position: absolute;
        margin-left: 53%;
        margin-top: 14%;
        font-weight: normal;
        font-size: 60px;
        width: 430px;
        text-align: left;
    }

    #islas1 {
        position: relative;
        margin-top: -85%;
    }

    #footer img {
        width: 100%;
        height: 490px;
        margin-top: -7%;
    }

    #footer {
        background-color: #2E2E2E;
        padding: 0px 0;
        color: #fff;
        margin-top: -7%;
    }

    #titulo5 {
        visibility: visible;
        animation-name: slideInDown;
        font-family: 'Museo 500 Regular';
        position: absolute;
        width: 790px;
        margin-left: 31%;
        margin-top: 10%;
        font-weight: normal;
        font-size: 35px;
        width: 834px;
    }

    #titulo6 {
        visibility: visible;
        animation-name: slideInDown;
        font-family: 'Museo 500 Regular';
        position: absolute;
        width: 790px;
        margin-left: 30%;
        margin-top: 10%;
        font-weight: normal;
        font-size: 35px;
        width: 834px;
    }


    #portfolio{
        position: relative;
        margin-left: -3%;
    }

}

