
@font-face {
    font-family: 'Museo 500 Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Museo 500 Regular'), url('../Museo500-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: normal;
    src: local('Futura'), url('../futurastd.woff') format('woff');
}
/* Reglas generales */

html, body {
    overflow-x: hidden;
    font-family: "Museo 500 Regular";
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:focus, a:hover {
    color: #000000;
     cursor: pointer;
}

.titulo-imagen-container {
    text-align: center;
}

.margen-top-2em {
    margin-top: 2em;
}

.margen-top-4em {
    margin-top: 4em;
}

.titulo-dorado {
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    color: #D1BE87;
    font-size: 60px;
    padding: 1.5em 0 0em 0;
}
.parrafo-destacado {
    font-size: 1.8em !important;
}

.titulo-imagen {
    width: 30em;
}

.float-right {
    float: right;
}

.hide-until-dom-ready {
    display: none;
}
.linea-roja-50 {
    height: 3px;
    width: 50%;
    background-color: #da504b;
    margin: 1em 0 1em 0;
}
a:hover, .navbar-normal ul.navbar-nav > li > a:hover {
    text-decoration: none;
    color: #000000;
}

nav li.left-division:after {
    content:"";
    background: #ffffff;
    position: absolute;
    bottom: 25%;
    left: 0;
    height: 50%;
    width: 1px;
}

.navbar-brand img {
    margin-top: -25%;
    height: 130px;
}

.navbar-normal {
    background: transparent;
    border: none;
    top: 2em;
    font-size: 1.8em;
}

.navbar-normal .navbar-nav>li>a,
nav.floating .navbar-nav>li>a {
    color: #ffffff;
}

nav.floating {
    background-color: #D1BE87;
    top: 0;
    border: 0;
    font-size: 1.7em;
    height: 65px;
}

nav.floating .container,
nav.floating .navbar-brand,
nav.floating img {
    height: 65px;
}

nav.floating .navbar-brand {
    margin-top: 50%;
}

nav.floating .navbar-brand img {
    margin-top: -65px;
}

nav.floating .navbar-nav>li>a {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.floating #navbar ul.nav li {
    height: 65px;
    display: table;
}

#navbar li a {
    cursor: pointer;
}

/*ul.nav.navbar-nav.navbar-right {*/
    /*height: 65px;*/
/*}*/

.fa {
    line-height: 20px;
}

.bold {
    font-weight: 600;
}

/* Modals */
/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 520px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog{
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
    left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
    background-color: #D1BE87;
    padding: 1em 2em;
}

.modal-content,
.modal-content .close,
.modal-content h1,
.modal-content h2,
.modal-content h3,
.modal-content h4 {
    color: #ffffff;
}

.modal-content .btn {
    color: #DACA9E;
}
.modal-content {
    font-size: 1.4em;
}
.modal input,
.modal textarea {
    background-color: #DACA9E;
    border: #ffffff solid 1px;
    font-size: 1.4em;
}

.modal input.form-control::-webkit-input-placeholder,
.modal textarea.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ffffff;
}
.modal input.form-control:-moz-placeholder,
.modal textarea.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ffffff;
    opacity:  1;
}
.modal input.form-control::-moz-placeholder,
.modal textarea.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ffffff;
    opacity:  1;
}
.modal input.form-control:-ms-input-placeholder,
.modal textarea.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #ffffff;
}

.modal {
    font-family: "Museo 500 Regular";
}

.modal-header {
    border-bottom-color: transparent;
    background-color: transparent;
    border: 0;
}

h4.modal-title {
    font-family: "Museo 500 Regular";
    font-size: 2em;
}
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 100%;
}

.map-container {
    height: 400px;
    width: 400px;
    margin: auto;
}
/* Final de menu y modals*/
.contenedor {
    position: relative;
    height: 100px;
    background: #000033;
    width:500px;
    overflow: hidden;
}

#slideIzq,#slideDer, #fadeIzq, #fadeDer {
    position: absolute;
    height: 50px;
    background:#ffffcc;
}

#slideIzq,#fadeIzq{
    left: 0;
}
#slideDer,#fadeDer{
    right:0;
}

#menu1{
    background-image: url(../menu/menu11.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
div #menu1,#menu2,#menu3,#menu4,#menu5{
    height: 100%;
}

#sublista1 {

    margin-top: 140%;
    line-height: 20px;
    margin-left: 6%;
}

#sublista1 a{
    font-family: 'Museo 500 Regular';
    color: #fff;

    font-size: 18px;

}

#rayita{
    color: #fff;
    font-size: 20px;
    position: absolute;
    margin-top: 110%;
    margin-left: 4%;
}

#menu2{
    background-image: url(../menu/menu22.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#menu3{
    background-image: url(../menu/menu33.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#menu4{
    background-image: url(../menu/menu44.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#menu5{
    background-image: url(../menu/menu55.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#botonesarriba .nube{
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: 222;
    width: 4%;
    margin-top: 0%;

}

#botonesarriba .cruz{
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: 111;
    width: 4%;
}

#trama img{
    visibility: visible; animation-name: zoomIn;

}

#trama{
    width: 1000px;
    height: 850px;
    margin-top: 25%;
    margin-left: 13%;
    position: absolute;
}

#service .container {
    background-image: url(../images/trama2.jpg);
    background-size: cover;
    padding: 12em 0 12em 0;
}

#service .container.servicio-interno {
    background-image: none;
}

#portfolio {
    margin-top: -10em;
}

#botonrojo{
    visibility: visible;
    color: #fff;
    font-size: 22px;
    padding: 45px 10px 0px 10px;
}

#botonrojo img {
    width: 50px;
}

.isla-producto {
    border-color: #bcab7b;
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
}

.producto-arriba {
    border-bottom: none;
}
.producto-arriba:hover div {
    margin-top: 0;
    transition: all 700ms;
}

.producto-arriba div {
    margin-top: 70%;
    transition: all 300ms;
}

.producto-abajo:hover div {
    margin-top: 0;
    transition: all 700ms;
}

.producto-abajo div {
    margin-top: 19em;
    transition: all 300ms;
}

.row .isla-producto:not(:last-child) {
    border-right: none;
}

.row .destacado-item:not(:last-child) {
    border-right: none;
}

.row.destacado-contenido {
    margin-right: -16px;
}

.destacado-alto {
    height: 30em;
}

.destacado-item {
    border-color: #bcab7b;
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
}

.destacado-idi {
    background-image: url(../img/transp-idi.png);
    background-size: cover;
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
}

.destacado-expertise {
    background-image: url(../img/transp-expertise.png);
    background-size: cover;
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
}

.destacado-seccion {
    margin-top: -7em;
}

.destacado-texto p {
    color: gray;
    margin: 3em 0em 3em 1em;
    font-family: Futura;
    font-size: 1.2em;
}

.destacados-titulo {
    height: 100%;
}

.destacado-texto-container {
    height: 100%;
}

.destacado-contenido {
    height: 100%;
}

.destacado-contenido > div:first-child {
    background-color: rgba(265,265,265,0.9);
}

.destacado-izquierda {
    background-image: url(../img/expertise.jpg);
    background-size: cover;
}

.destacado-derecha {
    background-image: url(../img/isla5.jpg);
    background-size: cover;
}

.destacado-texto-container {
    margin-left: -100%;
    transition: all 700ms;
}

.destacado-item:hover .destacado-texto-container {
    margin-left: 0;
    transition: all 700ms;
}

.destacados-titulo,
.destacados-titulo a {
    color: gray;
}

.nube-contenedor img.nube {
    margin-top: 0;
}

.nube-contenedor {
    margin-left: 14px;
}

.rotate {

    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.rotate {
    margin-left: 7.8em;
    padding-bottom: 13em;
    font-size: 4em;
}
#botonrojo2{
    visibility: visible; animation-name: fadeInUpBig;
}

#service h3{
    font-size: 30px;
    color: #da504b;
    font-family: 'Futura';

}
#textorojo3 h2{
    font-size: 50px;
    color: #A2946B;
    width: 90%;
    margin-left: auto;
    margin-top: 0;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    text-align: center;
    margin-right: auto;
}

#textorojo3 h2.servicio-interno {
    color: #D1BE87;
}

#priemr_cuadrado {
    padding-top: 6em;
}
.primero{
    animation-delay:0.3s;
}
.segundo{
    animation-delay:0.3s;
}
.tercero{
    animation-delay:0.9s;
}

.cuarto{
    animation-delay:1.1s;
}

.quinto{
    animation-delay:1.5s;
}

.isla-item {
    background-size: cover;
    height: 422px;
}

.panel.panel-default.sentir.isla-background {
    max-height: 48em;
}

.container.conceptos {
    max-width: 69em;
}

.islas-container .panel-body {
    max-height: 41em;
}

.sentir {
    background: /* top, transparent black, faked with gradient */
            linear-gradient(
                    rgba(0, 0, 0, 0.2),
                    rgba(0, 0, 0, 0.2)
            ), url('../img/isla1.jpg');
}

.descubrir {
    background: /* top, transparent black, faked with gradient */
            linear-gradient(
                    rgba(0, 0, 0, 0.2),
                    rgba(0, 0, 0, 0.2)
            ), url('../img/isla2.jpg');
}

.crear {
    background: /* top, transparent black, faked with gradient */
            linear-gradient(
                    rgba(0, 0, 0, 0.2),
                    rgba(0, 0, 0, 0.2)
            ), url('../img/isla3.jpg');
}

.disfrutar {
    background: /* top, transparent black, faked with gradient */
            linear-gradient(
                    rgba(0, 0, 0, 0.2),
                    rgba(0, 0, 0, 0.2)
            ), url('../img/isla4.jpg');
}

img.nube{
    width: 52px;
    height: auto;
    margin-top: 2em;
}

.nube-scroll {
    height: 6em;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.mask h3 {
    font-family: 'Museo 500 Regular';
    font-weight: normal;

}

.mask h4 {
    font-family: 'Museo 500 Regular';
    font-weight: normal;

}
img.img-responsive {
    min-height: 100%;
}

figcaption.mask h4 {
    margin: 10px;
    color: #777;
    font-size: 27px;
    text-align: center;
}

li .hide-when-no-mouse {
    visibility: hidden;
}

li:hover .hide-when-no-mouse {
    visibility: visible;
}

/*=================================================================
  Portfolio
==================================================================*/

.project-wrapper {
    margin: 110px;
    padding: 0;
    margin-left: 126px;
    list-style: none;
    text-align: center;
}

.project-wrapper li {
    display: inline-block;
}

.portfolio-item {
    cursor: pointer;
    margin: 0px -3px 1% 0px;
    overflow: hidden;
    position: relative;
    width: 32%;
}

figcaption.mask {
    background-color:rgba(255, 255, 255, 0.85) ;
    top: 75%;
    color: #fff;
    padding: 40px;
    position: absolute;
    width: 100%;
    text-align: left;

    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.portfolio-item:hover figcaption.mask {
    bottom: 0;
    top:1px;
}

figcaption.mask h3 {
    margin: 0;
    margin-top: -5px;
    color: #777;
    font-size: 20px;
    width: 375px;
    margin-left: -36px;
    text-align: left;
    padding: 5px 66px 13px 83px;
}
#mascara5  h3 {
    margin: 0;
    margin-top: -5px;
    color: #777;
    font-size: 25px;
    width: 375px;
    margin-left: -57px;
    text-align: left;
    padding: 5px 66px 13px 83px;
}

#mascara4  h3 {
    margin: 0;
    margin-top: 22px;
    color: #777;
    font-size: 25px;
    width: 375px;
    margin-left: -18px;
    text-align: left;
    padding: 5px 66px 13px 83px;
}


ul.external {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: -47px;

    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

ul.external li {
    display: inline-block;
}

ul.external li a {
    background-color: rgba(255, 255, 255, 0.9);
    color: #818181;
    display: block;
    padding: 10px 18px 13px;

    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

ul.external li a:hover {
    background-color: #009EE3;
    color: #fff;
}

.portfolio-item:hover ul.external {
    top: 0;
}

.fancybox-skin {
    border-radius: 0;
}

.fancybox-title.fancybox-title-inside-wrap {
    padding: 15px;
}

.fancybox-title h3 {
    margin: 0 0 15px;
}

.fancybox-title p {
    color: #818181;
    font-size: 16px;
    line-height: 22px;
}

.fancybox-title-inside-wrap {
    padding-top: 0;
}
.primero_cuadrado {
    display: table;
    margin-top: auto;
    margin-left: auto;
    height: 195px;
    background-color: rgba(255, 255, 255, 0.69);
    border: 1px solid #e1e6e9;
    position: relative;
    z-index: 3;
    visibility: visible;
    animation-name: zoomIn;
    animation-delay: 0.3s;
}

.segundo_cuadrado {
    animation-delay: 0.6s;
}

.primero_cuadrado h4 {
    font-size: 25px;
    text-align: center;
    padding: 17px;
    animation-delay: 0.3s;
    color: #A2946B;
    line-height: 34px;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    display: table-cell;
    vertical-align: middle;
}

#fotolaboratorio{
    visibility: visible; animation-name: zoomIn;
}

#fotolaboratorio img{
    width: 100%;margin-left: auto;margin-top: -5%;
}


.accordian2 .primero{
    visibility: visible;
    animation-name: slideInUp;
}
.accordian2 .primero .image_title2 a{
    font-family:'Museo 500 Regular';
    font-weight:normal;
}
.accordian2 .tercero{
    visibility: visible;
    animation-name: slideInUp;
}
.accordian2 .tercero .image_title2 a{
    font-family:'Museo 500 Regular';font-weight:normal;
}
/* Accordion rehecho */

.content {
    width:960px;
    height:0px;
    margin-right: auto;
    margin-left: auto;
}
.panel-group {
    width:430px;
    z-index: 100;
}
.panel-heading {
    width: 430px;
}
.panel-title {
    height:18px
}
.panel-title a {
    float:left;
    text-decoration:none;
    padding: 10px 430px;
    margin: -10px -430px;
    font-family: Futura;
}
.panel-body {
    height:830px;
}

.relative {
    position: relative;
}

.panel-group .panel span {
    margin-left: 19em;
    margin-top: 18em;
    position: absolute;
    width: 17em;
    font-size: 1.5em;
    color: #ffffff;
}

.panel-default>.panel-heading {
    background-color: transparent;
}

.container.conceptos {
    height: 28em;
}
/* acordeon de las islas de abajo */
.accordian2 {
    width: 720px;
    height: 425px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    margin: -120px;
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
   -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
   -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35); */
}

/*A small hack to prevent flickering on some browsers*/
.accordian2 ul {
    width: 2000px;
    /*This will give ample space to the last item to move
    instead of falling down/flickering during hovers.*/
}

.accordian2 li {
    position: relative;
    display: block;
    width: 315px;
    float: left;

    /*border-left: 1px solid #888;

    /*box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    */

    /*Transitions to give animation effect*/
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    /*If you hover on the images now you should be able to
    see the basic accordian*/
}

/*Reduce with of un-hovered elements este reduce los de al lado */
.accordian2 ul:hover li {
    width: 40px;
}

.accordian2 ul:hover li a{
    left: -80px;
}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style vuelve a al pasicon inicial*/
.accordian2 ul li:hover {width: 640px;}
.accordian2 li img {
    display: block;
}


/*Image title styles*/
.image_title2 {
    writing-mode: vertical-rl;

    word-wrap: break-word;
    /*background: rgba(0, 0, 0, 0.5);  */
    position: absolute;
    left: 0; bottom: 0;
    width: 640px;

}
.image_title2 a {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    font-size: 50px;
    position: relative;
    left: -580px;
    padding-top: 20px;
    display: block;
    color: #fff;
    text-decoration: none;
}
.caja1{

    /* background: rgba(0, 0, 0, 0.5);   */
    background: rgba(255, 255, 255, 0.59);
    position: absolute;
    left: 14px;
    top:0px;
    bottom: 0;
    width: 92px;
}

.caja2{

    /* background: rgba(0, 0, 0, 0.5);   */
    background: rgba(255, 255, 255, 0.59);
    position: absolute;
    left: 14px;
    top:0px;
    bottom: 0;
    width: 92px;
}
.caja1:hover{
    background: rgba(255, 255, 255, 0.59);
    width: 640px;
}

.caja2:hover{
    background: rgba(255, 255, 255, 0.59);
    width: 640px;

}

.boton_isla_abajo1{
    margin-left: -135%;
    z-index: 0;

}
.boton_isla_abajo2{
    margin-left: 777%;
    z-index: 0;

}


.caja1:hover .boton_isla_abajo1{

    margin-top: 342px;
    position: absolute;
    margin-left: 11px;
    z-index: 0;
    width: 9%;
}
.caja2:hover .boton_isla_abajo2{

    margin-top: 342px;
    position: absolute;
    margin-left: 11px;
    z-index: 0;
    width: 9%;
}

#contacto{

    background-color: #A59965;
    position: absolute;
    z-index: -1;
    margin-left: 46%;

    height: 40px;
    margin-top: 4270px;
    color: #fff;
    font-size: 22px;
    padding: 6px 40px;

}

#contacto span{
    color: #fff;
}

#contacto:hover{
    background-color: #fff;

}

#contacto:hover span{

    color: #A59965;
}
.ir-arriba {
    display: none;
    padding: 20px;
    background: #da504b;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}
.slide-titulo {
    font-family: 'Museo 500 Regular';
    margin-left: auto;
    margin-right: auto;
    font-size: 4em;
    width: 80%;
}
#titulo6{
    visibility: visible;
    animation-name: slideInDown;
    font-family:'Museo 500 Regular';
    position: absolute;
    width: 790px;
    margin-left: 17%;
    margin-top: 10%;
    font-weight:normal;
    font-size: 35px;
    width: 834px;
}
.accordian {
    width: 100%;
    height: 425px;
    overflow: hidden;
    z-index: 2;
    /*Time for some styling*/
    margin: auto;
    margin-left: auto;
    margin-top: -2%;
    /* box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
   -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
   -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35); */
}

/*A small hack to prevent flickering on some browsers*/
/*.accordian ul {*/
    /*width: 2000px;*/
    /*!*This will give ample space to the last item to move*/
    /*instead of falling down/flickering during hovers.*!*/
/*}*/

.accordian li {
    position: relative;
    display: block;
    float: left;

    /*border-left: 1px solid #888;

    /*box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    */

    /*Transitions to give animation effect*/
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    /*If you hover on the images now you should be able to
    see the basic accordian*/
}

/*Reduce with of un-hovered elements este reduce los de al lado */
.accordian ul:hover li {
    width: 10%;
}

/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style vuelve a al pasicon inicial*/
.accordian ul li:hover {
    width: 70%;
}
.accordian li img {
    display: block;
}


/*Image title styles*/
.image_title {
    writing-mode: vertical-rl;

    word-wrap: break-word;
    /*background: rgba(0, 0, 0, 0.5); */
    position: absolute;
    left: 0; bottom: 0;
    width: 640px;

}
.titulo-isla {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    font-size: 70px;
    position: relative;
    left: -465px;
    padding-top: 20px;
    display: block;
    color: #fff;
    text-decoration: none;
}

.image_title a:hover {
    color: #fff;
}

.image_title .texto-isla {

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    font-size: 22px;
    position: relative;
    width: 380px;
    display: block;
    color: transparent;
    text-decoration: none;
    font-family:'Museo 500 Regular';
    font-weight:normal;
    writing-mode: horizontal-tb;
    margin-right: 650px;
}

.accordian ul:hover .image_title .texto-isla {
    margin-right: 100px;
    top: -80px;
    line-height: 27px;
    transition: all 0.5s;
    color: #fff;
}
.accordian ul:hover .image_title .titulo-isla {
    left: -65px;
}

#service{
    position: relative;
    z-index: -1;
    margin-top: -5em;
}
#imagentrama{
    width: 100%;
    height: 950px;
}

#islas{
    margin-top: 1em;
}
#lista1{
    margin-left: 35px;
    width: 403px;
    top:16px;
    border: 1px solid;
    border-color: #A59965;
    height: 383px;
}
#mascara1{
    padding: 40px;
}

#mascara1 p{
    font-size: 21px;
    text-align: center;
    color: #A2946B;
    line-height: 25px;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
}

#lista2{
    width: 403px;
    top:16px;
    border: 1px solid;
    border-color: #A59965;
    margin-left: -4px;
    height: 383px;
}

#mascara2{
    padding: 14px;
}

#mascara2 p{
    font-size: 21px;
    text-align: center;
    color: #A2946B;
    line-height: 25px;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
}

#lista3{
    width: 268px;
    border: 1px solid;
    border-color: #A59965;
    margin-left: 34px;
    height: 383px;
}

#mascara3{
    padding: 0px;
}

#mascara3 h3{
    margin-left: -23%;
    text-align: center;
    margin-top: 10%;
    font-size: 25px;
}

#mascara3 p{
    font-size: 21px;
    text-align: center;
    color: #A2946B;
    line-height: 25px;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
}
#lista4{
    width: 268px ;
    border: 1px solid;
    border-color: #A59965;
    margin-left: -2px;
    height: 383px;
}

#mascara4{
    padding: 16px;
}

#mascara4 p{
    font-size: 21px;
    text-align: center;
    color: #A2946B;
    line-height: 25px;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
}
#lista5{
    width: 268px;
    border: 1px solid;
    border-color: #A59965;
    margin-left: -2px;
    height: 383px;
}

#mascara5{
    padding: 16px;
}

#mascara5 p{
    font-size: 21px;
    text-align: center;
    color: #A2946B;
    line-height: 25px;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
}
#cuadrado1{
    position: relative;
}

#fotolaboratorio{
    margin-top: 0%;visibility: visible;animation-name: zoomIn;
    position: relative; z-index: -1;
}

#footer-text-container {
    margin-left: 2em;
}
#footer-text-container h1 {
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    font-size: 60px;
    text-align: left;
}
#footer-text-container p {
    text-align: left;
    font-size: 21px;
    line-height: 32px;
    font-family: Futura;
    width: 578px;
}

#ultimafoto img{
    width: 100%;
}

img.footer-nube {
   width: 50px;
}

.foto-footer-container {
    height: 510px;
    border: solid #ffffff 15px;
}
.foto-footer-container,
.foto-footer-container h1{
    color: #ffffff;
}

.foto-footer-container img {
    width: 50px;
}

#ultimafoto {
    border-color: #ffffff;
    padding: 15px;
    background-image: url(../images/sustentabilidad.jpg);
    background-size: cover;
    height: 40em;
    border-width: 10px;
    border-style: solid;
}
#conteinersustenta{
    margin-top: 10%;

}

ultimafoto{
    margin-top: -52%;
    position: relative;
}

#footer-text-container img{
    width: 50px;
    margin-top: 7%;
}
#footer_quienes img{
    width: 100%;

}

.fondo-blanco {
    background-color: #ffffff;
    margin-top: -10px;
    padding-top: 50px;
}

a.footer-link {
    color: inherit;
}

#logofooter h3 {
    color: #A59965;
    font-size: 17px;
    margin-top: 8%;
    margin-left: 0%;

}
footer i {
    font-size: 25px;
    color: #A59965;
}

.letra-negra {
    color: #000;
}
#lista-afuera ul {
    list-style: none;
    font-family: 'Museo 500 Regular';
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    padding-top: 50px;
}

.row.dato-footer {
    margin-bottom: 1em;
}

.dato-footer {
    font-size: 1.2em;
}

.dato-footer i {
    font-size: 1.3em;
    padding-top: 50%;
}

#logo-footer{
    width: 100%;
    height: auto;
}

.subtitulo_portada {
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    margin-top: 0%;
    width: 65%;
    text-transform: lowercase;
}

.portada {
    position: relative;
}

 #portada.portada-expertise {
     background-image: url(../img/slider/56.jpg);
     background-size: cover;
     height: 40em;
 }

 #portada.portada-innovaciones {
     background-image: url(../img/slider/77.jpg);
     background-size: cover;
     height: 40em;
 }

 #portada.portada-sustentabilidad {
     background-image: url(../img/slider/66.jpg);
     background-size: cover;
     height: 40em;
 }

 #portada.portada-fragancias {
     background-image: url(../img/slider/29.jpg);
     background-size: cover;
     height: 40em;
 }

 #portada.portada-contacto {
     background-image: url(../img/slider/88.jpg);
     background-size: cover;
     height: 40em;
 }

.nube-scroll img {
    width: 50px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

h2.slider-size {
    font-size: 5em;
}

#titulo1 {
    animation-name: slideInDown;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    width: 734px;
    margin-bottom: 10px;
}

#titulo2 {
    animation-name: slideInDown;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    font-weight: normal;
    width: 734px;
    font-size: 6.5em;
    margin-top: 0;
}

h2.slogan {
    animation-name: slideInDown;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    width: 430px;
    font-size: 4em;
}

#titulo3 {
    font-family: 'Museo 500 Regular';
    text-align: right;
    float: right;
}

#titulo4 {
    text-align: left;
}
#bredcrumbs-container h3 {
    font-size: 25px;
    color: #D1BE87;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    margin-left: 10%;
}


@media (min-width: 1900px) {

    #botonesarriba .nube {
        margin-left: 50%;
        position: absolute;
        z-index: 222;
        width: 4%;
        margin-top: 0%;

    }

    #footer img {
        width: 100%;
        height: 490px;
        margin-top: -7%;
    }

    #footer {
        background-color: #2E2E2E;
        padding: 0px 0;
        color: #fff;
        margin-top: -7%;
    }

    #footer a:hover {
        color: #000000;
    }

    #titulo6 {
        visibility: visible;
        animation-name: slideInDown;
        font-family: 'Museo 500 Regular';
        position: absolute;
        width: 790px;
        margin-left: 30%;
        margin-top: 10%;
        font-weight: normal;
        font-size: 35px;
        width: 834px;
    }
    #portfolio{
        position: relative;
        margin-left: -3%;
    }

}
