.titulo1_susten {font-weight: normal;
    font-size: 22px;
    color: #FFF;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
 margin-top: -20%;
    width: 540px;
  }

  .titulo2_susten {
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    font-size: 50px;
    text-align: center;
 margin-left:auto;
    margin-right: auto;
    margin-top: 50px;
    color: #fff;
    width: 950px;
  }

  #titulosusten{
    margin-top: -23%;
  }
 #textosusten  {
    font-size: 25px;
    color: #DA504B;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    text-align: center;
  }

  #botonrojo2_susten h2 {
    font-size: 46px;
    color: #D1BE89;
    width: 908px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    text-align: center;

  }

  .primero_cuadrado_sus {
      background-image: url(../images/67b.jpg);
      background-size: cover;
      height: 35em;
    z-index: 3;
    animation-delay: 0.3s;
  }

  .primero_cuadrado_sus h4 {
    font-size: 50px;
    text-align: center;
    animation-delay: 0.3s;
    color: rgba(119, 119, 119, 1);
    font-family:'Museo 500 Regular';font-weight:normal;
  }

  .primero_cuadrado_sus img {
      margin-top: 5em;
      margin-left: 3em;
  }

  #imagenbotonrojo{
    width: 70px;margin-top: -26px;margin-left: -21px;
  }

 #valores{
    margin-top: 6em;
  }

 #valores h2{
    font-family:'Museo 500 Regular';
    color: #D1BE87;
    font-size: 27px;
    line-height: 25px; 
     }

 #valores .ptexto1{
     font-family: 'Futura';
    font-size: 19px;
    font-weight: 500;
    line-height: 34px;"
}

#esquinaizquierdas .ptexto2{
  text-align: justify;font-family:'Futura';font-size: 15px;
}

#linearojasus {
    background: #DA4655;
    height: 7px;
    position: relative;
    top: -235px;
    left: 748px;
    z-index: 1;
}

#linearojasusinferior {
    background: #DA4655;
    height: 7px;
    position: relative;
    top: 600px;
    left: 964px;
}

img#corchete{
    width: 350px;
}

#esquinaderechas{
    position: relative;
    margin-top: -3em;
    z-index: 30;

}
#esquinaderechas .ezquinaderecha1{
    background-color:#D1BE87;
    font-family:'Museo 500 Regular';
    font-weight:normal;
    font-size: 22px;
    line-height: 45px;
    color:#fff;padding: 35px;
    border-top: solid 7px #da504b;
}
#esquinaderechas .ezquinaderecha2{
    font-family: 'Futura';
    font-size: 19px;
    font-weight: 500;
    line-height: 34px;

}

#esquinaderechas .ezquinaderecha3{
     font-family: 'Futura';
    font-size: 19px;
    font-weight: 500;
    line-height: 34px;

}

#esquinaderechas .ezquinaderecha4{
font-family:'Museo 500 Regular';
font-weight:normal;
color: #D1BE87;
font-size: 1.8em;line-height: 35px;

}
.segundo_cuadrado_sus {
    /* margin-right: auto; */
    height: 120px;
    position: relative;
    z-index: 3;
    position: relative;
    animation-delay: 0.3s;
  }

.segundo_cuadrado_sus h4 {
    font-size: 75px;
    text-align: center;
	padding-top: 10px;
    animation-delay: 0.3s;
    color: #000;
    font-family:'Museo 500 Regular';font-weight:normal;
	opacity: 1;
  }

  .cuarto{
    visibility: visible; animation-name: zoomIn;
      background-image: url(../images/44b.jpg);
      background-size: cover;
      height: 40em;
  }

  #como-operamos .titulo-imagen {
      margin-top: 5em;
      width: 50em;
  }

  .seguridad-higiene {
      margin-top: 5em;
  }

#columnadocesusten {
    height: 170px;
    margin-top: -125px;
    background-color: #D1BE89;
    padding: 1.5em 4em;
    opacity: 0.95;
}

#sustencolumna3 {
    margin-top: 4em;
}
#sustencolumna4 {
    margin-top: 6em;
    margin-left: -1em;
}

  #imagenrosa .titulo-imagen {
      width: 36em;
  }

    #seccion-como-operamos {
        margin-top: 6em;
    }

  #columnadocesusten h1{
    font-family:'Museo 500 Regular';
    font-weight:normal;
    font-size:21px;
    text-align: center;
    color: #FFF;
    line-height: 30px;
  }

#porque{
    border: solid;
    border-width: 2px; 
    border-color: #D1BE89;
    background: rgba(255, 255, 255, 0.9);
    height: 550px;
}

#porque .porquecolumna4 h1{
    font-family:'Museo 500 Regular';font-weight:normal;font-size:30px;text-align: right;color:#da504b;margin-bottom:10px;
}

#textcols1{
     font-family:'Futura';
     font-size: 19px;
     color: rgba(0, 0, 0, 0.68);
     line-height: 28px;
     text-align: right;
     margin-left: 75px;
}

#textcols2{
    text-align: right;
    font-size: 19px;
    color: rgba(0, 0, 0, 0.68);
    line-height: 28px;
    font-family:'Futura';
}

#sustencolumna4 h1 {
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    font-size: 30px;
    text-align: left;
    color: #da504b;
    margin-bottom: 10px;
}
#textcols3{
    text-align: left;
    font-family:'Futura';
    font-size: 19px;
    color: rgba(0, 0, 0, 0.68);
    line-height: 28px;
    width: 90%;
}

.seguridad-higiene {
 z-index: 5;
}

.sustentabilidad-impacto-ambiental {
    background-image: url(../images/sust-4.jpg);
    background-size: cover;
    margin-top: -6em;
    z-index: 1;
    height: 40em;
    margin-bottom: 10em;
}

#sustenfinal {
    background-image: url(../images/27.jpg);
    background-size: cover;
}