.titulo1_susten {font-weight: normal;
    font-size: 22px;
    color: #FFF;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
 margin-top: -20%;
    width: 540px;
  }

  .titulo2_susten {
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    font-size: 50px;
    text-align: center;
 margin-left:auto;
    margin-right: auto;
    margin-top: 50px;
    color: #fff;
    width: 950px;
  }

  #titulosusten{
    margin-top: -23%;
  }
 #textosusten  {
    font-size: 25px;
    color: #DA504B;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    text-align: center;
  }

  #botonrojo2_susten h2 {
    font-size: 46px;
    color: #D1BE89;
    width: 908px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    font-family: 'Museo 500 Regular';
    font-weight: normal;
    text-align: center;

  }

  .primero_cuadrado_sus {
    width: 485px;
    margin-left: 15%;
    height: 70px;
    background-color: rgba(238, 238, 238, 0.77);
    border: 1px solid #e1e6e9;
    position: relative;
    margin-top: -35%;
    z-index: 3;
    animation-delay: 0.3s;
  }

  .primero_cuadrado_sus h4 {
    font-size: 50px;
    text-align: center;
    animation-delay: 0.3s;
    color: rgba(119, 119, 119, 1);
    font-family:'Museo 500 Regular';font-weight:normal;
  }
  #imagenbotonrojo{
    width: 70px;margin-top: -26px;margin-left: -21px;
  }
  #imagenrosa{
    position: relative;margin-top: 20%;
  }

  #imagenrosa img{
    width: 100%;
  }

  #columnas2{
     margin-top: 40%;
  }

 #valores{
    position: relative;
  }

 #valores h2{
    font-family:'Museo 500 Regular';
    font-weight: bold;
    color:#A59965;
    font-size: 27px;
    line-height: 25px; 
     }

 #valores .ptexto1{
     font-family: 'Futura';
    font-size: 19px;
    font-weight: 500;
    line-height: 34px;"
}

#esquinaizquierdas .ptexto2{
  text-align: justify;font-family:'Futura';font-size: 15px;
}

#linearojasus {
    background: #DA4655;
    height: 7px;
    width: 42%;
    position: relative;
    top: -235px;
    left: 748px;
    z-index: 1;
    width: 38%;
}

#linearojasusinferior {
    background: #DA4655;
    height: 7px;
    width: 22%;
    position: relative;
    top: 600px;
    left: 964px;
}

img#corchete{
    width: 350px;
	margin-left: 25%;
}

#esquinaderechas{
    position: relative;
    margin-top: -8%;
    width: 543px;
    margin-left: 10%;
    margin-bottom: 5%;
}
#esquinaderechas .ezquinaderecha1{
    background-color:#D1BE87;
    font-family:'Museo 500 Regular';
    font-weight:normal;
    font-size: 22px;
    line-height: 45px;
    color:#fff;padding: 35px;
    margin-top: -26%;
    padding-left: 20%;
}
#esquinaderechas .ezquinaderecha2{
    font-family: 'Futura';
    font-size: 19px;
    font-weight: 500;
    line-height: 34px;
    margin-top: 10%;

}

#esquinaderechas .ezquinaderecha3{
     font-family: 'Futura';
    font-size: 19px;
    font-weight: 500;
    line-height: 34px;

}

#esquinaderechas .ezquinaderecha4{
font-family:'Museo 500 Regular';
font-weight:normal;
color:#A59965;
font-size: 27px;line-height: 35px;

}
.segundo_cuadrado_sus {
    width: 750px;
    margin-left: 22.5%;
    /* margin-right: auto; */
    height: 120px;
    background-color: rgba(255, 255, 255, 0.75);
    position: relative;
    margin-top: -30%;
    z-index: 3;
    position: relative;
    animation-delay: 0.3s;
  }

.segundo_cuadrado_sus h4 {
    font-size: 75px;
    text-align: center;
	padding-top: 10px;
    animation-delay: 0.3s;
    color: #000;
    font-family:'Museo 500 Regular';font-weight:normal;
	opacity: 1;
  }

  #susten .cuarto{
    visibility: visible; animation-name: zoomIn;
  }
  #columnadocesusten{
    height: 170px;
    width: 800px;
    margin-top: -125px;
    margin-left: 21%;
    background-color: #D1BE89;
    padding: 25px;
	opacity: 0.95;
  }

  #columnadocesusten h1{
    font-family:'Museo 500 Regular';
    font-weight:normal;
    font-size:21px;
    text-align: center;
    color: #FFF;
    line-height: 30px;
  }

#porque{
    margin-top: 6%;
    border: solid;
    border-width: 2px; 
    border-color: #D1BE89;
    background: rgba(255, 255, 255, 0.9);
    height: 550px;
	padding-left: 5%;
}

#porque .porquecolumna4 h1{
    font-family:'Museo 500 Regular';font-weight:normal;font-size:30px;text-align: right;color:#da504b;margin-bottom:10px;
}

#textcols1{
     font-family:'Futura';
     font-size: 19px;
     color: rgba(0, 0, 0, 0.68);
     line-height: 28px;
     text-align: right;
     margin-left: 75px;
}

#textcols2{
    text-align: right;
    font-size: 19px;
    color: rgba(0, 0, 0, 0.68);
    line-height: 28px;
    font-family:'Futura';
    margin-left: 8%;
}

#sustencolumna3 img{
    margin-top: 30%;
}

#sustencolumna4 {
	margin-top: -4%;
}
#sustencolumna4 h1{
	font-family:'Museo 500 Regular';font-weight:normal;font-size:30px;text-align: left;color:#da504b;margin-bottom:10px;
}
#textcols3{
    text-align: left;
    font-family:'Futura';
    font-size: 19px;
    color: rgba(0, 0, 0, 0.68);
    line-height: 28px;
    width: 377px;
}

#sustenfinal {
    background-image: url(../images/27.jpg);
    background-size: cover;
}